openapi: 3.0.1
info:
  contact:
    email: info@finbourne.com
    name: FINBOURNE Technology
    url: https://www.finbourne.com
  description: "\n```\n> __ _ \n / / __ ______ ___ (_)___ ___ _____________ \n / /\
    \ / / / / __ `__ \\/ / __ \\/ _ \\/ ___/ ___/ _ \\\n / /___/ /_/ / / / / / / /\
    \ / / / __(__ ) /__/ __/\n/_____/\\__,_/_/ /_/ /_/_/_/ /_/\\___/____/\\___/\\\
    ___/ \n```\n\n### Introduction to Luminesce\n\n\n[Luminesce](https://support.lusid.com/knowledgebase/article/KA-01677/)\
    \ is a data virtualization engine for LUSID and other applications. \nIt is proprietary\
    \ technology designed and developed by FINBOURNE Technology Limited. \n[Understanding\
    \ the Luminesce platform architecture.](https://support.lusid.com/knowledgebase/article/KA-01707/)\n\
    \nLuminesce enables you to query multiple sources of business intelligence simultaneously\
    \ in real-time—including investment management data stored in LUSID itself—and\
    \ build a consolidated picture for analysis, optionally writing data back into\
    \ LUSID. Alternatively, you can use Luminesce in a standalone capacity, without\
    \ interacting with LUSID at all.\n\n### WebAPI\n\nAllows for running queries and\
    \ a variety of other functions relating to Luminesce.\nFor example these REST\
    \ APIs can execute queries, synchronously or better asynchronously, returning\
    \ results in either Excel, CSV, SqLite, JSON among other formats.\n\n### Error\
    \ Codes\n\n| Code|Meaning |\n| ---|--- |\n| <a name=\"233\">233</a>|Query Parser\
    \ Failure |\n| <a name=\"850\">850</a>|Required provider not visible; provider\
    \ may not exist, be temporarily unavailable, or you may not have the necessary\
    \ permissions |\n| <a name=\"851\">851</a>|Query reached a timeout period or was\
    \ cancelled |\n| <a name=\"852\">852</a>|Query failed during execution |\n| <a\
    \ name=\"853\">853</a>|Query failed during execution for an unexpected reason\
    \ |\n| <a name=\"854\">854</a>|Query failed during execution for a reason known\
    \ to be an internal error (e.g. a Lusid provider where a corresponding API would\
    \ return a 500) |\n| <a name=\"855\">855</a>|Required column is not in the queried\
    \ provider(s) |\n| <a name=\"856\">856</a>|One or more columns are ambiguously\
    \ referenced in the query |\n| <a name=\"857\">857</a>|Query failed during execution\
    \ of a provider (e.g. in a way that might be transient, like an upstream issue)\
    \ |\n| <a name=\"858\">858</a>|Query failed during execution within the Query\
    \ Engine's SQL processing |\n| <a name=\"859\">859</a>|A variable has been defined\
    \ more than once |\n"
  termsOfService: https://www.finbourne.com/legal/terms-conditions
  title: FINBOURNE Luminesce Web API
  version: 1.16.645
  x-logo:
    url: https://www.lusid.com/app/assets/logo_white.png
    backgroundColor: '#415464'
  x-fbn-error-codes:
    "233":
      title: Query Parser Failure
    "850":
      title: "Required provider not visible; provider may not exist, be temporarily\
        \ unavailable, or you may not have the necessary permissions"
    "851":
      title: Query reached a timeout period or was cancelled
    "852":
      title: Query failed during execution
    "853":
      title: Query failed during execution for an unexpected reason
    "854":
      title: Query failed during execution for a reason known to be an internal error
        (e.g. a Lusid provider where a corresponding API would return a 500)
    "855":
      title: Required column is not in the queried provider(s)
    "856":
      title: One or more columns are ambiguously referenced in the query
    "857":
      title: "Query failed during execution of a provider (e.g. in a way that might\
        \ be transient, like an upstream issue)"
    "858":
      title: Query failed during execution within the Query Engine's SQL processing
    "859":
      title: A variable has been defined more than once
  x-fbn-description: "[Luminesce](https://support.lusid.com/knowledgebase/article/KA-01677/)\
    \ is a data virtualization engine for LUSID and other applications. \nIt is proprietary\
    \ technology designed and developed by FINBOURNE Technology Limited. \n[Understanding\
    \ the Luminesce platform architecture.](https://support.lusid.com/knowledgebase/article/KA-01707/)\n\
    \nLuminesce enables you to query multiple sources of business intelligence simultaneously\
    \ in real-time—including investment management data stored in LUSID itself—and\
    \ build a consolidated picture for analysis, optionally writing data back into\
    \ LUSID. Alternatively, you can use Luminesce in a standalone capacity, without\
    \ interacting with LUSID at all.\n\n### WebAPI\n\nAllows for running queries and\
    \ a variety of other functions relating to Luminesce.\nFor example these REST\
    \ APIs can execute queries, synchronously or better asynchronously, returning\
    \ results in either Excel, CSV, SqLite, JSON among other formats.\n### Query Flow\n\
    \nA much simplified view of the flow of a query request and service interrelationships.\n\
    \n```mermaid\ngraph TD\nsubgraph SVC[\"Core Services\"]\n S1[\"HcFS\"]\n S2[\"\
    Nameservice\"]\nend\n\nSVC -.- Providers\nSVC -.- QC\n\nsubgraph QC[\"Query Coordinator\"\
    ]\n D -.->|These depend on nothing else | CP1\n D -.->|Need Limits based on<br/>\
    \ previous provider calls | CP2\n CP1{ } -.->|\"Limiting data (as tables)\"| CP2{\
    \ }\n CP1 -.-> P6[\"View.X.y.z\"]\nend\n\nsubgraph Clients\n P6 -.-> D\n A -.->\
    \ D(Query Engine and<br/>Dependency Tree Analyser)\n C1[\"CLI\"] -.-> A[API]\n\
    \ C1[\"CLI\"] -.-> C2\n C2[WebAPI] -.-> A\n C4[Lumipy] -.-> C2\n C5[JDBC] -.->\
    \ C2\n C3[ODBC] -.-> A\n C3[ODBC] -.-> C2\nend\n\nsubgraph Providers\n PF[Factories\
    \ ...]\n CP1 -.-> P1[\"Drive.Csv\"]\n CP1 -.-> P2[\"Quotes\"]\n CP2 -.-> P3[\"\
    Instruments\"]\n CP2 -.-> P4[\"Portfolios\"]\n CP2 -.-> PX\n PX[...]\n PX2[...\
    \ ... ...]\nend\n\nsubgraph Legend\n direction LR\n X1[ ] -.->|\"HTTPS 443\"|\
    \ Y1[ ]\n X2[ ] -.->|\"AMQP 5671<br/>(or Hutch-Proxy 443->5671)\"| Y2[ ]\n X4[\
    \ ] -.->|In process/code| Y4[ ]\nend\n\nlinkStyle 21 stroke:#ff6767, stroke-dasharray:\
    \ 10 2, stroke-width:2px;\nlinkStyle 0 stroke:#ff6767, stroke-dasharray: 10 2,\
    \ stroke-width:2px;\nlinkStyle 1 stroke:#ff6767, stroke-dasharray: 10 2, stroke-width:2px;\n\
    linkStyle 7 stroke:#ff6767, stroke-dasharray: 10 2, stroke-width:2px;\nlinkStyle\
    \ 15 stroke:#ff6767, stroke-dasharray: 10 2, stroke-width:2px;\nlinkStyle 16 stroke:#ff6767,\
    \ stroke-dasharray: 10 2, stroke-width:2px;\nlinkStyle 17 stroke:#ff6767, stroke-dasharray:\
    \ 10 2, stroke-width:2px;\nlinkStyle 18 stroke:#ff6767, stroke-dasharray: 10 2,\
    \ stroke-width:2px;\nlinkStyle 19 stroke:#ff6767, stroke-dasharray: 10 2, stroke-width:2px;\n\
    \nlinkStyle 20 stroke:#26a3ff, stroke-dasharray: 5 2, stroke-width:2px;\nlinkStyle\
    \ 9 stroke:#26a3ff, stroke-dasharray: 5 2, stroke-width:2px;\nlinkStyle 11 stroke:#26a3ff,\
    \ stroke-dasharray: 5 2, stroke-width:2px;\nlinkStyle 12 stroke:#26a3ff, stroke-dasharray:\
    \ 5 2, stroke-width:2px;\nlinkStyle 14 stroke:#26a3ff, stroke-dasharray: 5 2,\
    \ stroke-width:2px;\n```\n\n"
servers:
- url: https://fbn-prd.lusid.com/honeycomb
security:
- {}
tags:
- description: Metadata about the application
  name: Application Metadata
- description: |-
    Allows for the downloading of Luminesce Binaries, given the required entitlements.
    These are to allow various functionalities to be run outside of Finbourne cloud infrastructure.
    For example to connection to internal databases, run providers on users' machines, or obtain the LuminesceCLI.
  name: Binary Downloading
- description: List / Mint / Renew / Revoke Luminesce TLS Certs
  name: Certificate Management
- description: Table/Field information on available Providers
  name: Current Table/Field Catalog
- description: Allows for checking health
  name: Health checking endpoint
- description: Shows queries executed at some point and details about them
  name: Historically Executed Queries
- description: This executes a series of internally defined LuminesceSql statements
    in the background
  name: Multi-Query Execution
- description: This executes LuminesceSql and allows monitoring its completion
  name: Sql Background Execution
- description: "This has methods for Designing SQL (to support the Web GUI designer\
    \ interfaces) for pretty-printing of sql, etc."
  name: Sql Design
- description: "This executes LuminesceSql synchronously, allows for returning the\
    \ resulting data in various formats."
  name: Sql Execution
paths:
  /api/Catalog:
    get:
      description: "\nReturns the User's full version of the catalog (Providers, their\
        \ fields and associated information)\nthat are currently running that you\
        \ have access to (in Json format).\n\nThis is the entire catalog flattened,\
        \ which is often quite large and always a bit repetitive. \nThe internal results\
        \ are cached for several minutes.\n\nConsider using `api/Catalog/providers`\
        \ and `api/Catalog/fields` for a more granular and incremental loading flow.\n\
        \nThe following error codes are to be anticipated with standard Problem Detail\
        \ reports:\n- 401 Unauthorized\n- 403 Forbidden\n"
      operationId: GetCatalog
      parameters:
      - description: Limit the catalog to only things in some way dealing with the
          passed in text string
        explode: true
        in: query
        name: freeTextSearch
        required: false
        schema:
          type: string
        style: form
      - description: Should this be text/json (not json-encoded-as-a-string)
        explode: true
        in: query
        name: jsonProper
        required: false
        schema:
          default: false
          type: boolean
        style: form
        x-nullable: true
      - description: Should the available cache be used? false is effectively to pick
          up a change in the catalog
        explode: true
        in: query
        name: useCache
        required: false
        schema:
          default: false
          type: boolean
        style: form
        x-nullable: true
      responses:
        "200":
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
          description: Success
      security:
      - oauth2: []
      summary: "GetCatalog: Get a Flattened Table/Field Catalog"
      tags:
      - Current Table/Field Catalog
      x-fbn-apistatus: Stable
      x-accepts: application/json
  /api/Catalog/fields:
    get:
      description: "\nReturns the User's full version of the catalog but only the\
        \ field/parameter-level information \n(as well as the TableName they refer\
        \ to, of course) for tables matching the `tableLike` (manually include wildcards\
        \ if desired).\n\nThe internal results are cached for several minutes.\n\n\
        The following error codes are to be anticipated with standard Problem Detail\
        \ reports:\n- 401 Unauthorized\n- 403 Forbidden\n"
      operationId: GetFields
      parameters:
      - explode: true
        in: query
        name: tableLike
        required: false
        schema:
          default: '%'
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
          description: Success
      security:
      - oauth2: []
      summary: "GetFields: List field and parameters for providers"
      tags:
      - Current Table/Field Catalog
      x-fbn-apistatus: Stable
      x-accepts: application/json
  /api/Catalog/providers:
    get:
      description: |2

        Returns the User's full version of the catalog but only the table/provider-level information they have access to.

        The internal results are cached for several minutes.

        The following error codes are to be anticipated with standard Problem Detail reports:
        - 401 Unauthorized
        - 403 Forbidden
      operationId: GetProviders
      parameters:
      - description: Limit the catalog to only things in some way dealing with the
          passed in text string
        explode: true
        in: query
        name: freeTextSearch
        required: false
        schema:
          type: string
        style: form
      - description: Should the available cache be used? false is effectively to pick
          up a change in the catalog
        explode: true
        in: query
        name: useCache
        required: false
        schema:
          default: true
          type: boolean
        style: form
        x-nullable: true
      responses:
        "200":
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
          description: Success
      security:
      - oauth2: []
      summary: "GetProviders: List available providers"
      tags:
      - Current Table/Field Catalog
      x-fbn-apistatus: Stable
      x-accepts: application/json
  /api/Certificate/certificate:
    get:
      description: |2

        Downloads your latest Domain or your User certificate's public or private key - if any.

        The following error codes are to be anticipated with standard Problem Detail reports:
        - 400 BadRequest - certificate is not available for some reason
        - 401 Unauthorized
        - 403 Forbidden
      operationId: DownloadCertificate
      parameters:
      - description: User or Domain level cert (Domain level requires additional entitlements)
        explode: true
        in: query
        name: type
        required: false
        schema:
          $ref: '#/components/schemas/CertificateType'
        style: form
        x-nullable: true
      - description: Should the public key or private key be downloaded? (both must
          be in place to run providers)
        explode: true
        in: query
        name: fileType
        required: false
        schema:
          $ref: '#/components/schemas/CertificateFileType'
        style: form
        x-nullable: true
      - description: "If no matching cert is available, should an attempt be made\
          \ to Create/Renew it with default options?"
        explode: true
        in: query
        name: mayAutoCreate
        required: false
        schema:
          default: false
          type: boolean
        style: form
        x-nullable: true
      responses:
        "200":
          content:
            text/plain:
              schema:
                format: binary
                type: string
            application/json:
              schema:
                format: binary
                type: string
            text/json:
              schema:
                format: binary
                type: string
          description: Success
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Bad Request
        "403":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Forbidden
      security:
      - oauth2: []
      summary: "[EXPERIMENTAL] DownloadCertificate: Download domain or your personal\
        \ certificates"
      tags:
      - Certificate Management
      x-fbn-apistatus: Experimental
      x-accepts: application/json
  /api/Certificate/certificates:
    get:
      description: |2

        Lists all the certificates previously minted to which you have access.

        The following error codes are to be anticipated with standard Problem Detail reports:
        - 401 Unauthorized
        - 403 Forbidden
      operationId: ListCertificates
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/CertificateState'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CertificateState'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/CertificateState'
                type: array
          description: Success
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Bad Request
        "403":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Forbidden
      security:
      - oauth2: []
      summary: "[EXPERIMENTAL] ListCertificates: List previously minted certificates"
      tags:
      - Certificate Management
      x-fbn-apistatus: Experimental
      x-accepts: application/json
  /api/Certificate/manage:
    put:
      description: |2

        Manages a certificate. This could be creating a new one, renewing an old one or revoking one explicitly.

        The following error codes are to be anticipated with standard Problem Detail reports:
        - 400 BadRequest - something about the request cannot be processed
        - 401 Unauthorized
        - 403 Forbidden
      operationId: ManageCertificate
      parameters:
      - description: "The Action to perform, e.g. Create / Renew / Revoke"
        explode: true
        in: query
        name: action
        required: false
        schema:
          $ref: '#/components/schemas/CertificateAction'
        style: form
        x-nullable: true
      - description: User or Domain level cert (Domain level requires additional entitlements)
        explode: true
        in: query
        name: type
        required: false
        schema:
          $ref: '#/components/schemas/CertificateType'
        style: form
        x-nullable: true
      - description: "Version number of the cert, the request will fail to validate\
          \ if incorrect"
        explode: true
        in: query
        name: version
        required: false
        schema:
          default: 1
          format: int32
          type: integer
        style: form
        x-nullable: true
      - description: When should the cert first be valid (defaults to the current
          time in UTC)
        explode: true
        in: query
        name: validityStart
        required: false
        schema:
          format: date-time
          type: string
        style: form
        x-nullable: true
      - description: When should the cert no longer be valid (defaults to 13 months
          from now)
        explode: true
        in: query
        name: validityEnd
        required: false
        schema:
          format: date-time
          type: string
        style: form
        x-nullable: true
      - description: "True will just validate the request, but perform no changes\
          \ to any system"
        explode: true
        in: query
        name: dryRun
        required: false
        schema:
          default: true
          type: boolean
        style: form
        x-nullable: true
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CertificateState'
            application/json:
              schema:
                $ref: '#/components/schemas/CertificateState'
            text/json:
              schema:
                $ref: '#/components/schemas/CertificateState'
          description: Success
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Bad Request
        "403":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Forbidden
      security:
      - oauth2: []
      summary: "[EXPERIMENTAL] ManageCertificate: Create / Renew / Revoke a certificate"
      tags:
      - Certificate Management
      x-fbn-apistatus: Experimental
      x-accepts: application/json
  /api/Download/download:
    get:
      description: "\nDownloads the latest version (or specific if needs be) of the\
        \ specified Luminesce Binary, given the required entitlements.\n\n> This endpoint\
        \ is an alternative to time-consuming manual distribution via Drive or Email.\n\
        > it relies on an underlying datastore that is not quite as \"Highly Available\"\
        \ to the degree \n> that FINBOURNE services generally are. \n> Thus it is\
        \ not subject to the same SLAs as other API endpoints are.\n> *If you perceive\
        \ an outage, please try again later.*\n\nOnce a file has been downloaded the\
        \ following steps can be used to install it (for the dotnet tools at least):\n\
        \n1. Open a terminal and cd to the directory you downloaded it to\n2. Install\
        \ / extract files from that package via:\n```\ndotnet tool install NameOfFileWithoutVersionNumberOrExtension\
        \ -g --add-source \".\"\n```\ne.g.\n```\ndotnet tool install Finbourne.Luminesce.DbProviders.Oracle_Snowflake\
        \ -g --add-source \".\"\n```\n3. Execute them (see documentation for specific\
        \ binary)...\n\nThe installed binaries can then be found in\n- Windows - `%USERPROFILE%\\\
        .dotnet\\tools\\.store\\`\n- Linux/macOS - `$HOME/.dotnet/tools/.store/`\n\
        \nThe following error codes are to be anticipated with standard Problem Detail\
        \ reports:\n- 400 BadRequest - binary file is not available for some reason\
        \ (e.g. permissions or invalid version)\n- 401 Unauthorized\n- 403 Forbidden\n"
      operationId: DownloadBinary
      parameters:
      - description: Type of binary to download (each requires separate licenses and
          entitlements)
        explode: true
        in: query
        name: type
        required: false
        schema:
          $ref: '#/components/schemas/LuminesceBinaryType'
        style: form
        x-nullable: true
      - description: An explicit version of the binary. Leave blank to get the latest
          version (recommended)
        explode: true
        in: query
        name: version
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                format: binary
                type: string
          description: The .nupkg or .msi file of the requested binary
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Bad Request
        "403":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Forbidden
      security:
      - oauth2: []
      summary: "[EXPERIMENTAL] DownloadBinary: Download a Luminesce Binary you may\
        \ run on-site"
      tags:
      - Binary Downloading
      x-fbn-apistatus: Experimental
      x-accepts: application/json
  /api/Download/versions:
    get:
      description: |2-

        Gets all available versions of a given binary type (from newest to oldest)
        This does not mean you are entitled to download them.
      operationId: GetBinaryVersions
      parameters:
      - description: Type of binary to fetch available versions of
        explode: true
        in: query
        name: type
        required: false
        schema:
          $ref: '#/components/schemas/LuminesceBinaryType'
        style: form
        x-nullable: true
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  type: string
                type: array
            application/json:
              schema:
                items:
                  type: string
                type: array
            text/json:
              schema:
                items:
                  type: string
                type: array
          description: Success
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Bad Request
        "403":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Forbidden
      security:
      - oauth2: []
      summary: "[EXPERIMENTAL] GetBinaryVersions: List available versions of binaries"
      tags:
      - Binary Downloading
      x-fbn-apistatus: Experimental
      x-accepts: application/json
  /api/History:
    get:
      description: |2

        Starts to load the historical query logs for a certain time range, search criteria, etc.

        The following error codes are to be anticipated with standard Problem Detail reports:
        - 401 Unauthorized
        - 403 Forbidden
      operationId: GetHistory
      parameters:
      - description: Date time to start the search from. Will default to Now - 1 Day
        explode: true
        in: query
        name: startAt
        required: false
        schema:
          format: date-time
          type: string
        style: form
        x-nullable: true
      - description: Date time to end the search at. Defaults to now.
        explode: true
        in: query
        name: endAt
        required: false
        schema:
          format: date-time
          type: string
        style: form
        x-nullable: true
      - description: Some test that must be in at least one field returned.
        explode: true
        in: query
        name: freeTextSearch
        required: false
        schema:
          type: string
        style: form
      - description: "For users with extra permissions, they may optionally see other\
          \ users' queries."
        explode: true
        in: query
        name: showAll
        required: false
        schema:
          default: false
          type: boolean
        style: form
        x-nullable: true
      - description: Should a native data store (e.g. Athena or Fabric) be used over
          Elastic Search if available?
        explode: true
        in: query
        name: mayUseNativeStore
        required: false
        schema:
          default: true
          type: boolean
        style: form
        x-nullable: true
      responses:
        "202":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/BackgroundQueryResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundQueryResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundQueryResponse'
          description: Accepted
      security:
      - oauth2: []
      summary: "GetHistory: Start a background history search"
      tags:
      - Historically Executed Queries
      x-fbn-apistatus: Stable
      x-accepts: application/json
  /api/History/{executionId}:
    delete:
      description: |
        Cancel the query (if still running) / clear the data (if already returned)
        The following error codes are to be anticipated with standard Problem Detail reports:
        - 401 Unauthorized
        - 403 Forbidden
        - 404 Not Found : The requested query result doesn't exist and is not running.
      operationId: CancelHistory
      parameters:
      - description: ExecutionId returned when starting the query
        explode: false
        in: path
        name: executionId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/BackgroundQueryCancelResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundQueryCancelResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundQueryCancelResponse'
          description: Success
      security:
      - oauth2: []
      summary: "CancelHistory: Cancel / Clear data from a history search"
      tags:
      - Historically Executed Queries
      x-fbn-apistatus: Stable
      x-accepts: application/json
    get:
      description: |-
        View progress information (up until this point) of previously started History query
        The following error codes are to be anticipated with standard Problem Detail reports:
        - 401 Unauthorized
        - 403 Forbidden
        - 404 Not Found : The requested query result doesn't exist and is not running.
        - 429 Too Many Requests : Please try your request again soon
         1. The query has been executed successfully in the past yet the server-instance receiving this request (e.g. from a load balancer) doesn't yet have this data available.
         1. By virtue of the request you have just placed this will have started to load from the persisted cache and will soon be available.
         1. It is also the case that the original server-instance to process the original query is likely to already be able to service this request.
      operationId: GetProgressOfHistory
      parameters:
      - description: ExecutionId returned when starting the query
        explode: false
        in: path
        name: executionId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/BackgroundQueryProgressResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundQueryProgressResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundQueryProgressResponse'
          description: Success
      security:
      - oauth2: []
      summary: "GetProgressOfHistory: View progress of a history search"
      tags:
      - Historically Executed Queries
      x-fbn-apistatus: Stable
      x-accepts: application/json
  /api/History/{executionId}/histogram:
    get:
      description: |-
        Fetch the histogram in Json format (if available, or if not simply being informed it is not yet ready)
        The following error codes are to be anticipated with standard Problem Detail reports:
        - 401 Unauthorized
        - 403 Forbidden
        - 404 Not Found : The requested query result doesn't (yet) exist.
        - 429 Too Many Requests : Please try your request again soon
         1. The query has been executed successfully in the past yet the server-instance receiving this request (e.g. from a load balancer) doesn't yet have this data available.
         1. By virtue of the request you have just placed this will have started to load from the persisted cache and will soon be available.
         1. It is also the case that the original server-instance to process the original query is likely to already be able to service this request.
      operationId: FetchHistoryResultHistogram
      parameters:
      - description: ExecutionId returned when starting the query
        explode: false
        in: path
        name: executionId
        required: true
        schema:
          type: string
        style: simple
      - description: Optional histogram bucket width. If not provided a set number
          of buckets between start/end range will be generated.
        explode: true
        in: query
        name: bucketSize
        required: false
        schema:
          format: date-span
          type: string
        style: form
      - description: An ODATA filter per Finbourne.Filtering syntax.
        explode: true
        in: query
        name: filter
        required: false
        schema:
          maxLength: 16384
          minLength: 0
          pattern: "^[\\s\\S]*$"
          type: string
        style: form
      - description: Should this be text/json (not json-encoded-as-a-string)
        explode: true
        in: query
        name: jsonProper
        required: false
        schema:
          default: false
          type: boolean
        style: form
        x-nullable: true
      responses:
        "200":
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
          description: Success
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Bad Request
        "403":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Forbidden
      security:
      - oauth2: []
      summary: "FetchHistoryResultHistogram: Make a histogram of results of a history\
        \ search"
      tags:
      - Historically Executed Queries
      x-fbn-apistatus: Stable
      x-accepts: application/json
  /api/History/{executionId}/json:
    get:
      description: |-
        Fetch the data in Json format (if available, or if not simply being informed it is not yet ready)
        The following error codes are to be anticipated with standard Problem Detail reports:
        - 401 Unauthorized
        - 403 Forbidden
        - 404 Not Found : The requested query result doesn't (yet) exist.
        - 429 Too Many Requests : Please try your request again soon
         1. The query has been executed successfully in the past yet the server-instance receiving this request (e.g. from a load balancer) doesn't yet have this data available.
         1. By virtue of the request you have just placed this will have started to load from the persisted cache and will soon be available.
         1. It is also the case that the original server-instance to process the original query is likely to already be able to service this request.
      operationId: FetchHistoryResultJson
      parameters:
      - description: ExecutionId returned when starting the query
        explode: false
        in: path
        name: executionId
        required: true
        schema:
          type: string
        style: simple
      - description: "Order the results by these fields.\r\n Use the `-` sign to denote\
          \ descending order, e.g. `-MyFieldName`. Numeric indexes may be used also,\
          \ e.g. `2,-3`.\r\n Multiple fields can be denoted by a comma e.g. `-MyFieldName,AnotherFieldName,-AFurtherFieldName`.\r\
          \n Default is null, the sort order specified in the query itself."
        explode: true
        in: query
        name: sortBy
        required: false
        schema:
          maxLength: 16384
          minLength: 1
          pattern: "^[\\s\\S]*$"
          type: string
        style: form
      - description: An ODATA filter per Finbourne.Filtering syntax.
        explode: true
        in: query
        name: filter
        required: false
        schema:
          maxLength: 16384
          minLength: 0
          pattern: "^[\\s\\S]*$"
          type: string
        style: form
      - description: "Default is null (meaning return all columns in the original\
          \ query itself).\r\nThe values are in terms of the result column name from\
          \ the original data set and are comma delimited.\r\nThe power of this comes\
          \ in that you may aggregate the data if you wish\r\n(that is the main reason\
          \ for allowing this, in fact).\r\ne.g.:\r\n- `MyField`\r\n- `Max(x) FILTER\
          \ (WHERE y > 12) as ABC` (max of a field, if another field lets it qualify,\
          \ with a nice column name)\r\n- `count(*)` (count the rows for the given\
          \ group, that would produce a rather ugly column name, but it works)\r\n\
          - `count(distinct x) as numOfXs`\r\nIf there was an illegal character in\
          \ a field you are selecting from, you are responsible for bracketing it\
          \ with [ ]. \r\ne.g.\r\n- `some_field, count(*) as a, max(x) as b, min([column\
          \ with space in name]) as nice_name`\r\n where you would likely want to\
          \ pass `1` as the `groupBy` also."
        explode: true
        in: query
        name: select
        required: false
        schema:
          type: string
        style: form
      - description: "Groups by the specified fields.\r\n A comma delimited list of:\
          \ 1 based numeric indexes (cleaner), or repeats of the select expressions\
          \ (a bit verbose and must match exactly).\r\n e.g. `2,3`, `myColumn`.\r\n\
          \ Default is null (meaning no grouping will be performed on the selected\
          \ columns).\r\n This applies only over the result set being requested here,\
          \ meaning indexes into the \"select\" parameter fields.\r\n Only specify\
          \ this if you are selecting aggregations in the \"select\" parameter."
        explode: true
        in: query
        name: groupBy
        required: false
        schema:
          type: string
        style: form
      - description: "When paginating, only return this number of records, page should\
          \ also be specified."
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
        x-nullable: true
      - description: "0-N based on chunk sized determined by the limit, ignored if\
          \ limit < 1."
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
        x-nullable: true
      - description: Should this be text/json (not json-encoded-as-a-string)
        explode: true
        in: query
        name: jsonProper
        required: false
        schema:
          default: false
          type: boolean
        style: form
        x-nullable: true
      responses:
        "200":
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
          description: Success
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Bad Request
        "403":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Forbidden
      security:
      - oauth2: []
      summary: "FetchHistoryResultJson: Fetch JSON results from a query history search"
      tags:
      - Historically Executed Queries
      x-fbn-apistatus: Stable
      x-accepts: application/json
  /api/metadata/access/resources:
    get:
      description: "\nGet the comprehensive set of resources that are available for\
        \ access control.\n\nThe following LuminesceSql is executed to return this\
        \ information, \nwhich is then packaged up as AccessControlledResource:\n\n\
        ```sql\nselect\n Name,\n min(coalesce(Description, Name) || ' (' || Type ||\
        \ ')') as Description\nfrom\n Sys.Registration\nwhere\n Type in ('DirectProvider',\
        \ 'DataProvider')\n and\n ShowAll = true\ngroup by 1\norder by 1\n \n```\n\
        \nThe following error codes are to be anticipated with standard Problem Detail\
        \ reports:\n- 401 Unauthorized\n- 403 Forbidden\n"
      operationId: GetServicesAsAccessControlledResources
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ResourceListOfAccessControlledResource'
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceListOfAccessControlledResource'
            text/json:
              schema:
                $ref: '#/components/schemas/ResourceListOfAccessControlledResource'
          description: Success
      security:
      - oauth2: []
      summary: "GetServicesAsAccessControlledResources: Get resources available for\
        \ access control"
      tags:
      - Application Metadata
      x-fbn-apistatus: Stable
      x-accepts: application/json
  /api/MultiQueryBackground:
    put:
      description: "\nAllow for starting a potentially long running query and getting\
        \ back an immediate response with how to \n- fetch the data in various formats\
        \ (if available, or if not simply being informed it is not yet ready), on\
        \ a per result basis\n- view progress information (up until this point), for\
        \ all results in one go\n- cancel the queries (if still running) / clear the\
        \ data (if already returned)\n\nThe following error codes are to be anticipated\
        \ with standard Problem Detail reports:\n- 400 BadRequest - there was something\
        \ wrong with your query syntax (the issue was detected at parse-time)\n- 401\
        \ Unauthorized\n- 403 Forbidden\n"
      operationId: StartQueries
      parameters:
      - description: An enum value defining the set of statements being executed
        example: Instrument
        explode: true
        in: query
        name: type
        required: true
        schema:
          $ref: '#/components/schemas/MultiQueryDefinitionType'
        style: form
      - description: The AsAt time used by any bitemporal provider in the queries.
        explode: true
        in: query
        name: asAt
        required: false
        schema:
          format: date-time
          type: string
        style: form
        x-nullable: true
      - description: The EffectiveAt time used by any bitemporal provider in the queries.
        explode: true
        in: query
        name: effectiveAt
        required: false
        schema:
          format: date-time
          type: string
        style: form
        x-nullable: true
      - description: A limit that is applied to first-level queries (e.g. Instruments
          themselves)
        explode: true
        in: query
        name: limit1
        required: false
        schema:
          format: int32
          type: integer
        style: form
        x-nullable: true
      - description: A limit that is applied to second-level queries (e.g. Holdings
          based on the set of Instruments found)
        explode: true
        in: query
        name: limit2
        required: false
        schema:
          format: int32
          type: integer
        style: form
        x-nullable: true
      - description: "A value available to queries, these vary by 'type' and are only\
          \ used by some types at all.\r\ne.g. a start-date of some sort"
        explode: true
        in: query
        name: input1
        required: false
        schema:
          type: string
        style: form
      - description: "A second value available to queries, these vary by 'type' and\
          \ are only used by some types at all."
        explode: true
        in: query
        name: input2
        required: false
        schema:
          type: string
        style: form
      - description: "A third value available to queries, these vary by 'type' and\
          \ are only used by some types at all."
        explode: true
        in: query
        name: input3
        required: false
        schema:
          type: string
        style: form
      - description: "Maximum time the query may run for, in seconds: <0 → ∞, 0 →\
          \ 1200s (20m)"
        example: 1200
        explode: true
        in: query
        name: timeoutSeconds
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
        x-nullable: true
      - description: "Maximum time the result may be kept for, in seconds: <0 → 1200\
          \ (20m), 0 → 28800 (8h), max = 2,678,400 (31d)"
        example: 7200
        explode: true
        in: query
        name: keepForSeconds
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
        x-nullable: true
      requestBody:
        content:
          text/plain:
            example: Apple
            schema:
              type: string
        description: "A \"search\" value (e.g. 'Apple' on an instrument search, a\
          \ `Finbourne.Filtering` expression of Insights, etc.)\r\nIn the cases where\
          \ \"Nothing\" is valid for a `Finbourne.Filtering` expression, pass `True`."
        required: true
      responses:
        "202":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/BackgroundMultiQueryResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundMultiQueryResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundMultiQueryResponse'
          description: Accepted
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Bad Request
        "403":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Forbidden
      security:
      - oauth2: []
      summary: "StartQueries: Run a given set of Sql queries in the background"
      tags:
      - Multi-Query Execution
      x-fbn-apistatus: Stable
      x-content-type: text/plain
      x-accepts: application/json
  /api/MultiQueryBackground/{executionId}:
    delete:
      description: |
        Cancel the query-set (if still running) / clear the data (if already returned)
        The following error codes are to be anticipated with standard Problem Detail reports:
        - 401 Unauthorized
        - 403 Forbidden
        - 404 Not Found : The requested query result doesn't exist and is not running.
      operationId: CancelMultiQuery
      parameters:
      - description: ExecutionId returned when starting the query
        explode: false
        in: path
        name: executionId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/BackgroundQueryCancelResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundQueryCancelResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundQueryCancelResponse'
          description: Success
      security:
      - oauth2: []
      summary: "CancelMultiQuery: Cancel / Clear a previously started query-set"
      tags:
      - Multi-Query Execution
      x-fbn-apistatus: Stable
      x-accepts: application/json
    get:
      description: |-
        View progress information (up until this point) for the entire query-set
        The following error codes are to be anticipated with standard Problem Detail reports:
        - 401 Unauthorized
        - 403 Forbidden
        - 404 Not Found : The requested query result doesn't exist and is not running.
        - 429 Too Many Requests : Please try your request again soon
         1. The query has been executed successfully in the past yet the server-instance receiving this request (e.g. from a load balancer) doesn't yet have this data available.
         1. By virtue of the request you have just placed this will have started to load from the persisted cache and will soon be available.
         1. It is also the case that the original server-instance to process the original query is likely to already be able to service this request.
      operationId: GetProgressOfMultiQuery
      parameters:
      - description: ExecutionId returned when starting the query
        explode: false
        in: path
        name: executionId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/BackgroundMultiQueryProgressResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundMultiQueryProgressResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundMultiQueryProgressResponse'
          description: Success
      security:
      - oauth2: []
      summary: "GetProgressOfMultiQuery: View progress of the entire query-set load"
      tags:
      - Multi-Query Execution
      x-fbn-apistatus: Stable
      x-accepts: application/json
  /api/Sql/csv:
    put:
      description: |2

        For more complex LuminesceSql a PUT will allow for longer and line break delimited Sql, whic will be returned in the format of the method name.
        e.g.:
        ```sql
        @@cutoff = select #2020-02-01#;
        @issues = select Id, SortId, Summary, Created, Updated from Dev.Jira.Issue where Project='HC' and Created < @@cutoff and Updated > @@cutoff;

        select i.Id, i.SortId, i.Summary, LinkText, LinkedIssueId, LinkedIssueSortId, LinkedIssueSummary
        from @issues i
        inner join Dev.Jira.Issue.Link li
         on i.Id = li.IssueId
        ```

        The following error codes are to be anticipated with standard Problem Detail reports:
        - 400 BadRequest - something failed with the execution or parsing of your query
        - 401 Unauthorized
        - 403 Forbidden
      operationId: PutByQueryCsv
      parameters:
      - description: Json encoded dictionary of key-value pairs for scalar parameter
          values to use in the sql execution.
        example:
          someParameter: 12
          someOtherParameter: someValue
        explode: true
        in: query
        name: scalarParameters
        required: false
        schema:
          additionalProperties:
            type: string
          type: object
        style: form
        x-nullable: true
      - description: Name to apply to the query in logs and `Sys.Logs.HcQueryStart`
        example: Get tables/fields
        explode: true
        in: query
        name: queryName
        required: false
        schema:
          type: string
        style: form
      - description: Makes this a file-download request (as opposed to returning the
          data in the response-body)
        explode: true
        in: query
        name: download
        required: false
        schema:
          default: false
          type: boolean
        style: form
        x-nullable: true
      - description: "In seconds: <0 → ∞, 0 → 120s"
        example: 120
        explode: true
        in: query
        name: timeoutSeconds
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
        x-nullable: true
      - description: Delimiter string to override the default
        explode: true
        in: query
        name: delimiter
        required: false
        schema:
          type: string
        style: form
      - description: Escape character to override the default
        explode: true
        in: query
        name: escape
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          text/plain:
            example: select Dockerfile Dockerfile.cicd LICENSE.md README.md docker-compose.yml
              docs generate justfile publish resources test_sdk from sys.field
            schema:
              type: string
        description: LuminesceSql to Execute (may be multi-line)
        required: true
      responses:
        "200":
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
          description: Success
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Bad Request
        "403":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Forbidden
      security:
      - oauth2: []
      summary: "PutByQueryCsv: Execute Sql from the body returning CSV"
      tags:
      - Sql Execution
      x-fbn-apistatus: Stable
      x-content-type: text/plain
      x-accepts: application/json
  /api/Sql/csv/{query}:
    get:
      description: |2

        Returns data from a simple single-line query execution which is specified on the url.
        e.g. `select ^ from Sys.Field order by 1, 2`, returned in the format of the method name.

        The following error codes are to be anticipated with standard Problem Detail reports:
        - 400 BadRequest - something failed with the execution or parsing of your query
        - 401 Unauthorized
        - 403 Forbidden
      operationId: GetByQueryCsv
      parameters:
      - description: LuminesceSql to Execute (must be one line only)
        example: "select ^ from Sys.Field order by 1, 2"
        explode: false
        in: path
        name: query
        required: true
        schema:
          type: string
        style: simple
      - description: Json encoded dictionary of key-value pairs for scalar parameter
          values to use in the sql execution.
        example:
          someParameter: 12
          someOtherParameter: someValue
        explode: true
        in: query
        name: scalarParameters
        required: false
        schema:
          additionalProperties:
            type: string
          type: object
        style: form
        x-nullable: true
      - description: Name to apply to the query in logs and `Sys.Logs.HcQueryStart`
        example: Get tables/fields
        explode: true
        in: query
        name: queryName
        required: false
        schema:
          type: string
        style: form
      - description: Makes this a file-download request (as opposed to returning the
          data in the response-body)
        explode: true
        in: query
        name: download
        required: false
        schema:
          default: false
          type: boolean
        style: form
        x-nullable: true
      - description: "In seconds: <0 → ∞, 0 → 120s"
        example: 120
        explode: true
        in: query
        name: timeout
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
        x-nullable: true
      - description: Delimiter string to override the default
        explode: true
        in: query
        name: delimiter
        required: false
        schema:
          type: string
        style: form
      - description: Escape character to override the default
        explode: true
        in: query
        name: escape
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
          description: Success
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Bad Request
        "403":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Forbidden
      security:
      - oauth2: []
      summary: "GetByQueryCsv: Execute Sql from the url returning CSV"
      tags:
      - Sql Execution
      x-fbn-apistatus: Stable
      x-accepts: application/json
  /api/Sql/excel:
    put:
      description: |2

        For more complex LuminesceSql a PUT will allow for longer and line break delimited Sql, whic will be returned in the format of the method name.
        e.g.:
        ```sql
        @@cutoff = select #2020-02-01#;
        @issues = select Id, SortId, Summary, Created, Updated from Dev.Jira.Issue where Project='HC' and Created < @@cutoff and Updated > @@cutoff;

        select i.Id, i.SortId, i.Summary, LinkText, LinkedIssueId, LinkedIssueSortId, LinkedIssueSummary
        from @issues i
        inner join Dev.Jira.Issue.Link li
         on i.Id = li.IssueId
        ```

        The following error codes are to be anticipated with standard Problem Detail reports:
        - 400 BadRequest - something failed with the execution or parsing of your query
        - 401 Unauthorized
        - 403 Forbidden
      operationId: PutByQueryExcel
      parameters:
      - description: Json encoded dictionary of key-value pairs for scalar parameter
          values to use in the sql execution.
        example:
          someParameter: 12
          someOtherParameter: someValue
        explode: true
        in: query
        name: scalarParameters
        required: false
        schema:
          additionalProperties:
            type: string
          type: object
        style: form
        x-nullable: true
      - description: Name to apply to the query in logs and `Sys.Logs.HcQueryStart`
        example: Get tables/fields
        explode: true
        in: query
        name: queryName
        required: false
        schema:
          type: string
        style: form
      - description: "In seconds: <0 → ∞, 0 → 120s"
        example: 120
        explode: true
        in: query
        name: timeoutSeconds
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
        x-nullable: true
      requestBody:
        content:
          text/plain:
            example: select Dockerfile Dockerfile.cicd LICENSE.md README.md docker-compose.yml
              docs generate justfile publish resources test_sdk from sys.field
            schema:
              type: string
        description: LuminesceSql to Execute (may be multi-line)
        required: true
      responses:
        "200":
          content:
            text/plain:
              schema:
                format: binary
                type: string
            application/json:
              schema:
                format: binary
                type: string
            text/json:
              schema:
                format: binary
                type: string
          description: Success
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Bad Request
        "403":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Forbidden
      security:
      - oauth2: []
      summary: "PutByQueryExcel: Execute Sql from the body making an Excel file"
      tags:
      - Sql Execution
      x-fbn-apistatus: Stable
      x-content-type: text/plain
      x-accepts: application/json
  /api/Sql/excel/{query}:
    get:
      description: |2

        Returns data from a simple single-line query execution which is specified on the url.
        e.g. `select ^ from Sys.Field order by 1, 2`, returned in the format of the method name.

        The following error codes are to be anticipated with standard Problem Detail reports:
        - 400 BadRequest - something failed with the execution or parsing of your query
        - 401 Unauthorized
        - 403 Forbidden
      operationId: GetByQueryExcel
      parameters:
      - description: LuminesceSql to Execute (must be one line only)
        example: "select ^ from Sys.Field order by 1, 2"
        explode: false
        in: path
        name: query
        required: true
        schema:
          type: string
        style: simple
      - description: Json encoded dictionary of key-value pairs for scalar parameter
          values to use in the sql execution.
        example:
          someParameter: 12
          someOtherParameter: someValue
        explode: true
        in: query
        name: scalarParameters
        required: false
        schema:
          additionalProperties:
            type: string
          type: object
        style: form
        x-nullable: true
      - description: Name to apply to the query in logs and `Sys.Logs.HcQueryStart`
        example: Get tables/fields
        explode: true
        in: query
        name: queryName
        required: false
        schema:
          type: string
        style: form
      - description: "In seconds: <0 → ∞, 0 → 120s"
        example: 120
        explode: true
        in: query
        name: timeout
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
        x-nullable: true
      responses:
        "200":
          content:
            text/plain:
              schema:
                format: binary
                type: string
            application/json:
              schema:
                format: binary
                type: string
            text/json:
              schema:
                format: binary
                type: string
          description: Success
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Bad Request
        "403":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Forbidden
      security:
      - oauth2: []
      summary: "GetByQueryExcel: Execute Sql from the url returning an Excel file"
      tags:
      - Sql Execution
      x-fbn-apistatus: Stable
      x-accepts: application/json
  /api/Sql/extractscalarparameters:
    put:
      description: "Extracts information about all the scalar parameters defined in\
        \ the given SQL statement\n\n> This method is generally only intended for\
        \ IDE generation purposes. \n> It is largely internal to the Finbourne web\
        \ user interfaces and subject to change without notice.\n"
      operationId: PutSqlToExtractScalarParameters
      requestBody:
        content:
          text/plain:
            example: "select abc, :p1:'this' as c1 from xxx where abc = :abcP:123\
              \ or xyz in (:p2:, 'zzz')"
            schema:
              type: string
        description: SQL query to generate the design object from
        required: true
      responses:
        "200":
          content:
            text/plain:
              example:
              - name: p1
                type: Text
                value: this
              - name: abcP
                type: Decimal
                value: "123"
              - name: p2
                type: Text
              schema:
                items:
                  $ref: '#/components/schemas/ScalarParameter'
                type: array
            application/json:
              example:
              - name: p1
                type: Text
                value: this
              - name: abcP
                type: Decimal
                value: "123"
              - name: p2
                type: Text
              schema:
                items:
                  $ref: '#/components/schemas/ScalarParameter'
                type: array
            text/json:
              example:
              - name: p1
                type: Text
                value: this
              - name: abcP
                type: Decimal
                value: "123"
              - name: p2
                type: Text
              schema:
                items:
                  $ref: '#/components/schemas/ScalarParameter'
                type: array
          description: Success
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Bad Request
        "403":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Forbidden
      security:
      - oauth2: []
      summary: "[EXPERIMENTAL] PutSqlToExtractScalarParameters: Extract scalar parameter\
        \ information from SQL"
      tags:
      - Sql Design
      x-fbn-apistatus: Experimental
      x-content-type: text/plain
      x-accepts: application/json
  /api/Sql/fromcasestatementdesign:
    put:
      description: "Generates a SQL case statement query from a structured CaseStatementDesign\
        \ object\n\n> This method is generally only intended for IDE generation purposes.\
        \ \n> It is largely internal to the Finbourne web user interfaces and subject\
        \ to change without notice.\n"
      operationId: PutCaseStatementDesignToSql
      requestBody:
        content:
          application/json-patch+json:
            example:
              selectedField: currency
              caseStatementItems:
              - filter: Eq
                source: USD
                target: US
            schema:
              $ref: '#/components/schemas/CaseStatementDesign'
          application/json:
            example:
              selectedField: currency
              caseStatementItems:
              - filter: Eq
                source: USD
                target: US
            schema:
              $ref: '#/components/schemas/CaseStatementDesign'
          text/json:
            example:
              selectedField: currency
              caseStatementItems:
              - filter: Eq
                source: USD
                target: US
            schema:
              $ref: '#/components/schemas/CaseStatementDesign'
          application/*+json:
            example:
              selectedField: currency
              caseStatementItems:
              - filter: Eq
                source: USD
                target: US
            schema:
              $ref: '#/components/schemas/CaseStatementDesign'
        description: CaseStatementDesign object to try and create a SQL query from
        required: true
      responses:
        "200":
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
          description: Success
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Bad Request
        "403":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Forbidden
      security:
      - oauth2: []
      summary: "[EXPERIMENTAL] PutCaseStatementDesignToSql: Convert a case statement\
        \ design object to SQL"
      tags:
      - Sql Design
      x-fbn-apistatus: Experimental
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /api/Sql/fromdesign:
    put:
      description: "Generates SQL from a QueryDesign object\n\n> This method is generally\
        \ only intended for IDE generation purposes. \n> It is largely internal to\
        \ the Finbourne web user interfaces and subject to change without notice.\n"
      operationId: PutQueryDesignToSql
      requestBody:
        content:
          application/json-patch+json:
            example:
              tableName: Sys.Field
              fields:
              - name: TableName
                dataType: Text
                shouldSelect: true
                filters:
                - operator: Eq
                  value: Sys.Registration
                aggregations: []
              - name: FieldName
                dataType: Text
                shouldSelect: true
                filters: []
                aggregations:
                - type: count_distinct
                  alias: NumberOfFields
              orderBy:
              - field: DataType
                direction: asc
              limit: 42
              warnings: []
              availableFields: []
            schema:
              $ref: '#/components/schemas/QueryDesign'
          application/json:
            example:
              tableName: Sys.Field
              fields:
              - name: TableName
                dataType: Text
                shouldSelect: true
                filters:
                - operator: Eq
                  value: Sys.Registration
                aggregations: []
              - name: FieldName
                dataType: Text
                shouldSelect: true
                filters: []
                aggregations:
                - type: count_distinct
                  alias: NumberOfFields
              orderBy:
              - field: DataType
                direction: asc
              limit: 42
              warnings: []
              availableFields: []
            schema:
              $ref: '#/components/schemas/QueryDesign'
          text/json:
            example:
              tableName: Sys.Field
              fields:
              - name: TableName
                dataType: Text
                shouldSelect: true
                filters:
                - operator: Eq
                  value: Sys.Registration
                aggregations: []
              - name: FieldName
                dataType: Text
                shouldSelect: true
                filters: []
                aggregations:
                - type: count_distinct
                  alias: NumberOfFields
              orderBy:
              - field: DataType
                direction: asc
              limit: 42
              warnings: []
              availableFields: []
            schema:
              $ref: '#/components/schemas/QueryDesign'
          application/*+json:
            example:
              tableName: Sys.Field
              fields:
              - name: TableName
                dataType: Text
                shouldSelect: true
                filters:
                - operator: Eq
                  value: Sys.Registration
                aggregations: []
              - name: FieldName
                dataType: Text
                shouldSelect: true
                filters: []
                aggregations:
                - type: count_distinct
                  alias: NumberOfFields
              orderBy:
              - field: DataType
                direction: asc
              limit: 42
              warnings: []
              availableFields: []
            schema:
              $ref: '#/components/schemas/QueryDesign'
        description: Structured Query design object to generate SQL from
        required: true
      responses:
        "200":
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
          description: Success
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Bad Request
        "403":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Forbidden
      security:
      - oauth2: []
      summary: "[EXPERIMENTAL] PutQueryDesignToSql: Make SQL from a structured query\
        \ design"
      tags:
      - Sql Design
      x-fbn-apistatus: Experimental
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /api/Sql/fromfilereaddesign:
    put:
      description: "Generates SQL from a FileReaderBuilderDef object\n\n> This method\
        \ is generally only intended for IDE generation purposes. \n> It is largely\
        \ internal to the Finbourne web user interfaces and subject to change without\
        \ notice.\n"
      operationId: PutFileReadDesignToSql
      parameters:
      - description: Should the generated query be executed to build preview data
          or determine errors.>
        explode: true
        in: query
        name: executeQuery
        required: false
        schema:
          default: true
          type: boolean
        style: form
        x-nullable: true
      requestBody:
        content:
          application/json-patch+json:
            example:
              limit: 0
              source:
                location: Drive
                type: Csv
              filePath: /some/folder
              folderFilter: .*\.csv
              addFileName: true
            schema:
              $ref: '#/components/schemas/FileReaderBuilderDef'
          application/json:
            example:
              limit: 0
              source:
                location: Drive
                type: Csv
              filePath: /some/folder
              folderFilter: .*\.csv
              addFileName: true
            schema:
              $ref: '#/components/schemas/FileReaderBuilderDef'
          text/json:
            example:
              limit: 0
              source:
                location: Drive
                type: Csv
              filePath: /some/folder
              folderFilter: .*\.csv
              addFileName: true
            schema:
              $ref: '#/components/schemas/FileReaderBuilderDef'
          application/*+json:
            example:
              limit: 0
              source:
                location: Drive
                type: Csv
              filePath: /some/folder
              folderFilter: .*\.csv
              addFileName: true
            schema:
              $ref: '#/components/schemas/FileReaderBuilderDef'
        description: Structured file read design object to generate SQL from
        required: true
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/FileReaderBuilderResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/FileReaderBuilderResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/FileReaderBuilderResponse'
          description: Success
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Bad Request
        "403":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Forbidden
      security:
      - oauth2: []
      summary: "[EXPERIMENTAL] PutFileReadDesignToSql: Make file read SQL from a design\
        \ object"
      tags:
      - Sql Design
      x-fbn-apistatus: Experimental
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /api/Sql/frominlinedpropertiesdesign:
    put:
      description: "Generates inlined properties SQL from a structured design\n\n\
        > This method is generally only intended for IDE generation purposes. \n>\
        \ It is largely internal to the Finbourne web user interfaces and subject\
        \ to change without notice.\n"
      operationId: PutInlinedPropertiesDesignToSql
      requestBody:
        content:
          application/json-patch+json:
            example:
              providerName: Lusid.portfolio
              inlinedPropertyItems:
              - key: fieldKey
                name: fieldName
                isMain: true
                description: some description
            schema:
              $ref: '#/components/schemas/InlinedPropertyDesign'
          application/json:
            example:
              providerName: Lusid.portfolio
              inlinedPropertyItems:
              - key: fieldKey
                name: fieldName
                isMain: true
                description: some description
            schema:
              $ref: '#/components/schemas/InlinedPropertyDesign'
          text/json:
            example:
              providerName: Lusid.portfolio
              inlinedPropertyItems:
              - key: fieldKey
                name: fieldName
                isMain: true
                description: some description
            schema:
              $ref: '#/components/schemas/InlinedPropertyDesign'
          application/*+json:
            example:
              providerName: Lusid.portfolio
              inlinedPropertyItems:
              - key: fieldKey
                name: fieldName
                isMain: true
                description: some description
            schema:
              $ref: '#/components/schemas/InlinedPropertyDesign'
        description: Inlined properties Designer specification to generate SQL from
        required: true
      responses:
        "200":
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
          description: Success
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Bad Request
        "403":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Forbidden
      security:
      - oauth2: []
      summary: "[EXPERIMENTAL] PutInlinedPropertiesDesignToSql: Make inlined properties\
        \ SQL from a design object"
      tags:
      - Sql Design
      x-fbn-apistatus: Experimental
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /api/Sql/fromviewdesign:
    put:
      description: "Converts a ConvertToView specification into SQL that creates a\
        \ view\n\n> This method is generally only intended for IDE generation purposes.\
        \ \n> It is largely internal to the Finbourne web user interfaces and subject\
        \ to change without notice.\n"
      operationId: PutViewDesignToSql
      requestBody:
        content:
          application/json-patch+json:
            example:
              query: select Dockerfile Dockerfile.cicd LICENSE.md README.md docker-compose.yml
                docs generate justfile publish resources test_sdk from Lusid.Instrument.bond
              name: Views.MyView
              description: This is a tooltip for the view as a whole
              documentationLink: https://mydocumentationlink.com
              viewParameters:
              - name: MyTextParam
                dataType: Text
                value: Portfolio
                isTableDataMandatory: false
                description: This is a parameter tooltip
              - name: EffectiveAt
                dataType: Date
                value: 2023-05-03
                isTableDataMandatory: false
                description: This is a parameter tooltip
              - name: IsActive
                dataType: Boolean
                value: "true"
                isTableDataMandatory: true
                description: This is a parameter tooltip
              - name: EndUserTable
                dataType: Table
                value: '@end_user_table'
                isTableDataMandatory: true
                description: This is a parameter tooltip
              otherParameters: {}
            schema:
              $ref: '#/components/schemas/ConvertToViewData'
          application/json:
            example:
              query: select Dockerfile Dockerfile.cicd LICENSE.md README.md docker-compose.yml
                docs generate justfile publish resources test_sdk from Lusid.Instrument.bond
              name: Views.MyView
              description: This is a tooltip for the view as a whole
              documentationLink: https://mydocumentationlink.com
              viewParameters:
              - name: MyTextParam
                dataType: Text
                value: Portfolio
                isTableDataMandatory: false
                description: This is a parameter tooltip
              - name: EffectiveAt
                dataType: Date
                value: 2023-05-03
                isTableDataMandatory: false
                description: This is a parameter tooltip
              - name: IsActive
                dataType: Boolean
                value: "true"
                isTableDataMandatory: true
                description: This is a parameter tooltip
              - name: EndUserTable
                dataType: Table
                value: '@end_user_table'
                isTableDataMandatory: true
                description: This is a parameter tooltip
              otherParameters: {}
            schema:
              $ref: '#/components/schemas/ConvertToViewData'
          text/json:
            example:
              query: select Dockerfile Dockerfile.cicd LICENSE.md README.md docker-compose.yml
                docs generate justfile publish resources test_sdk from Lusid.Instrument.bond
              name: Views.MyView
              description: This is a tooltip for the view as a whole
              documentationLink: https://mydocumentationlink.com
              viewParameters:
              - name: MyTextParam
                dataType: Text
                value: Portfolio
                isTableDataMandatory: false
                description: This is a parameter tooltip
              - name: EffectiveAt
                dataType: Date
                value: 2023-05-03
                isTableDataMandatory: false
                description: This is a parameter tooltip
              - name: IsActive
                dataType: Boolean
                value: "true"
                isTableDataMandatory: true
                description: This is a parameter tooltip
              - name: EndUserTable
                dataType: Table
                value: '@end_user_table'
                isTableDataMandatory: true
                description: This is a parameter tooltip
              otherParameters: {}
            schema:
              $ref: '#/components/schemas/ConvertToViewData'
          application/*+json:
            example:
              query: select Dockerfile Dockerfile.cicd LICENSE.md README.md docker-compose.yml
                docs generate justfile publish resources test_sdk from Lusid.Instrument.bond
              name: Views.MyView
              description: This is a tooltip for the view as a whole
              documentationLink: https://mydocumentationlink.com
              viewParameters:
              - name: MyTextParam
                dataType: Text
                value: Portfolio
                isTableDataMandatory: false
                description: This is a parameter tooltip
              - name: EffectiveAt
                dataType: Date
                value: 2023-05-03
                isTableDataMandatory: false
                description: This is a parameter tooltip
              - name: IsActive
                dataType: Boolean
                value: "true"
                isTableDataMandatory: true
                description: This is a parameter tooltip
              - name: EndUserTable
                dataType: Table
                value: '@end_user_table'
                isTableDataMandatory: true
                description: This is a parameter tooltip
              otherParameters: {}
            schema:
              $ref: '#/components/schemas/ConvertToViewData'
        description: Structured Query design object to generate SQL from
        required: true
      responses:
        "200":
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
          description: Success
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Bad Request
        "403":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Forbidden
      security:
      - oauth2: []
      summary: "[EXPERIMENTAL] PutViewDesignToSql: Make view creation sql from a view-design"
      tags:
      - Sql Design
      x-fbn-apistatus: Experimental
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /api/Sql/fromwriterdesign:
    put:
      description: "Generates writer SQL from a valid WriterDesign structure\n\n>\
        \ This method is generally only intended for IDE generation purposes. \n>\
        \ It is largely internal to the Finbourne web user interfaces and subject\
        \ to change without notice.\n"
      operationId: PutWriterDesignToSql
      requestBody:
        content:
          application/json-patch+json:
            example:
              sql: |2-

                @x = select SomeScope as Scope from Somewhere;
                select Dockerfile Dockerfile.cicd LICENSE.md README.md docker-compose.yml docs generate justfile publish resources test_sdk from Lusid.Instrument.Bond where ToWriter = @x
              availableToMapFrom:
              - expression: SomeScope
                alias: Scope
                flags: None
              parameter:
                providerName: Lusid.Instrument.Bond
                parameterName: ToWrite
                fields:
                - name: Scope
                  type: Text
                  description: Scope of the instrument
                  mapping:
                    expression: SomeScope
                    alias: Scope
                    flags: None
                - name: DisplayName
                  type: Text
              availableParameters:
              - providerName: Lusid.Instrument.Bond
                parameterName: ToWrite
                fields:
                - name: Scope
                  type: Text
                  description: Scope of the instrument
                  mapping:
                    expression: SomeScope
                    alias: Scope
                    flags: None
                - name: DisplayName
                  type: Text
              - providerName: Email.Send
                parameterName: ToSend
                fields:
                - name: Subject
                  type: Text
                - name: Body
                  type: Text
            schema:
              $ref: '#/components/schemas/WriterDesign'
          application/json:
            example:
              sql: |2-

                @x = select SomeScope as Scope from Somewhere;
                select Dockerfile Dockerfile.cicd LICENSE.md README.md docker-compose.yml docs generate justfile publish resources test_sdk from Lusid.Instrument.Bond where ToWriter = @x
              availableToMapFrom:
              - expression: SomeScope
                alias: Scope
                flags: None
              parameter:
                providerName: Lusid.Instrument.Bond
                parameterName: ToWrite
                fields:
                - name: Scope
                  type: Text
                  description: Scope of the instrument
                  mapping:
                    expression: SomeScope
                    alias: Scope
                    flags: None
                - name: DisplayName
                  type: Text
              availableParameters:
              - providerName: Lusid.Instrument.Bond
                parameterName: ToWrite
                fields:
                - name: Scope
                  type: Text
                  description: Scope of the instrument
                  mapping:
                    expression: SomeScope
                    alias: Scope
                    flags: None
                - name: DisplayName
                  type: Text
              - providerName: Email.Send
                parameterName: ToSend
                fields:
                - name: Subject
                  type: Text
                - name: Body
                  type: Text
            schema:
              $ref: '#/components/schemas/WriterDesign'
          text/json:
            example:
              sql: |2-

                @x = select SomeScope as Scope from Somewhere;
                select Dockerfile Dockerfile.cicd LICENSE.md README.md docker-compose.yml docs generate justfile publish resources test_sdk from Lusid.Instrument.Bond where ToWriter = @x
              availableToMapFrom:
              - expression: SomeScope
                alias: Scope
                flags: None
              parameter:
                providerName: Lusid.Instrument.Bond
                parameterName: ToWrite
                fields:
                - name: Scope
                  type: Text
                  description: Scope of the instrument
                  mapping:
                    expression: SomeScope
                    alias: Scope
                    flags: None
                - name: DisplayName
                  type: Text
              availableParameters:
              - providerName: Lusid.Instrument.Bond
                parameterName: ToWrite
                fields:
                - name: Scope
                  type: Text
                  description: Scope of the instrument
                  mapping:
                    expression: SomeScope
                    alias: Scope
                    flags: None
                - name: DisplayName
                  type: Text
[...]
