openapi: 3.0.1
info:
  contact:
    email: info@finbourne.com
    name: FINBOURNE Technology
    url: https://www.finbourne.com
  termsOfService: https://www.finbourne.com/legal/terms-conditions
  title: FINBOURNE Luminesce Web API
  version: 1.14.358
  x-logo:
    url: https://www.lusid.com/app/assets/logo_white.png
    backgroundColor: '#415464'
servers:
- url: https://fbn-prd.lusid.com/honeycomb
security:
- {}
tags:
- description: Metadata about the application
  name: Application Metadata
- description: "List, Mint, Renew and Revoke your Honeycomb / Luminesce TLS Certificates."
  name: Certificate Management
- description: Shows Table and Field level information on Providers that are currently
    running that you have access to.
  name: Current Table/Field Catalog
- description: Shows queries executed at some point and details about them
  name: Historically Executed Queries
- description: This executes a series of internally defined LuminesceSql statements
    in the background
  name: Multi-Query Execution
- description: This executes LuminesceSql and allows monitoring its completion
  name: Sql Background Execution
- description: "This executes LuminesceSql synchronously, allows for returning the\
    \ resulting data in various formats and for pretty-printing of sql."
  name: Sql Execution
paths:
  /api/Catalog:
    get:
      description: "\nThe following LuminesceSql is executed to return this information:\n\
        \n```sql\n@reg =\nselect\n Name,\n min(Description) as Description,\n min(DocumentationLink)\
        \ as DocumentationLink,\n iif(Category = 'View' and Client is not null, true,\
        \ false) as IsView\nfrom\n Sys.Registration\nwhere\n Type in ('DirectProvider',\
        \ 'DataProvider')\n and \n ShowAll = false\ngroup by\n 1\n ;\n\n@fld =\nselect\n\
        \ TableName,\n FieldName,\n DataType,\n FieldType,\n IsPrimaryKey,\n IsMain,\n\
        \ Description,\n ParamDefaultValue,\n TableParamColumns\nfrom\n Sys.Field\n\
        \ ;\n\n@x =\nselect\n coalesce(f.TableName, r.Name) as TableName,\n coalesce(f.FieldName,\
        \ 'N/A') as FieldName,\n f.DataType,\n f.FieldType,\n f.IsPrimaryKey,\n f.IsMain,\n\
        \ case \n when f.TableName is not null then\n f.Description\n else\n r.Name\
        \ || ' returns a different set of columns depending on use.'\n end as Description,\n\
        \ f.ParamDefaultValue,\n f.TableParamColumns,\n r.Description as ProviderDescription,\n\
        \ r.DocumentationLink,\n r.IsView\nfrom\n @reg r\n left outer join @fld f\n\
        \ on r.Name = f.TableName\norder by\n 1, 5 desc, 6 desc, 2\n ;\n \n```\n\n\
        The following error codes are to be anticipated with standard Problem Detail\
        \ reports:\n- 401 Unauthorized\n"
      operationId: GetCatalog
      parameters:
      - description: Limit the catalog to only things in some way dealing with the
          passed in text string
        explode: true
        in: query
        name: freeTextSearch
        required: false
        schema:
          type: string
        style: form
      - description: Should this be text/json (not json-encoded-as-a-string)
        explode: true
        in: query
        name: jsonProper
        required: false
        schema:
          default: false
          type: boolean
        style: form
        x-nullable: true
      responses:
        "200":
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
          description: Success
      security:
      - oauth2: []
      summary: "GetCatalog: Shows Table and Field level information on Providers that\
        \ are currently running that you have access to (in Json format)"
      tags:
      - Current Table/Field Catalog
      x-fbn-apistatus: Stable
      x-accepts: application/json
  /api/Certificate/certificate:
    get:
      description: |2

        Downloads your latest Domain or User certificate's public or private key - if any.

        The following error codes are to be anticipated with standard Problem Detail reports:
        - 400 BadRequest - certificate is not available for some reason
        - 401 Unauthorized
      operationId: DownloadCertificate
      parameters:
      - description: User or Domain level cert (Domain level requires additional entitlements)
        explode: true
        in: query
        name: type
        required: false
        schema:
          $ref: '#/components/schemas/CertificateType'
        style: form
        x-nullable: true
      - description: Should the public key or private key be downloaded? (both must
          be in place to run providers)
        explode: true
        in: query
        name: fileType
        required: false
        schema:
          $ref: '#/components/schemas/CertificateFileType'
        style: form
        x-nullable: true
      - description: "If no matching cert is available, should an attempt be made\
          \ to Create/Renew it with default options?"
        explode: true
        in: query
        name: mayAutoCreate
        required: false
        schema:
          default: false
          type: boolean
        style: form
        x-nullable: true
      responses:
        "200":
          content:
            text/plain:
              schema:
                format: binary
                type: string
            application/json:
              schema:
                format: binary
                type: string
            text/json:
              schema:
                format: binary
                type: string
          description: Success
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Bad Request
      security:
      - oauth2: []
      summary: "[EXPERIMENTAL] DownloadCertificate: Downloads your latest Domain or\
        \ User certificate's public or private key - if any."
      tags:
      - Certificate Management
      x-fbn-apistatus: Experimental
      x-accepts: application/json
  /api/Certificate/certificates:
    get:
      description: |2

        Lists all the certificates previously minted to which you have access.

        The following error codes are to be anticipated with standard Problem Detail reports:
        - 401 Unauthorized
      operationId: ListCertificates
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/CertificateState'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CertificateState'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/CertificateState'
                type: array
          description: Success
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Bad Request
      security:
      - oauth2: []
      summary: "[EXPERIMENTAL] ListCertificates: Shows Table and Field level information\
        \ on Providers that are currently running that you have access to (in Json\
        \ format)"
      tags:
      - Certificate Management
      x-fbn-apistatus: Experimental
      x-accepts: application/json
  /api/Certificate/manage:
    put:
      description: |2

        Manages a certificate. This could be creating a new one, renewing an old one or revoking one explicitly.

        The following error codes are to be anticipated with standard Problem Detail reports:
        - 400 BadRequest - something about the request cannot be processed
        - 401 Unauthorized
      operationId: ManageCertificate
      parameters:
      - description: "The Action to perform, e.g. Create / Renew / Revoke"
        explode: true
        in: query
        name: action
        required: false
        schema:
          $ref: '#/components/schemas/CertificateAction'
        style: form
        x-nullable: true
      - description: User or Domain level cert (Domain level requires additional entitlements)
        explode: true
        in: query
        name: type
        required: false
        schema:
          $ref: '#/components/schemas/CertificateType'
        style: form
        x-nullable: true
      - description: "Version number of the cert, the request will fail to validate\
          \ if incorrect"
        explode: true
        in: query
        name: version
        required: false
        schema:
          default: 1
          format: int32
          type: integer
        style: form
        x-nullable: true
      - description: When should the cert first be valid (defaults to the current
          time in UTC)
        explode: true
        in: query
        name: validityStart
        required: false
        schema:
          format: date-time
          type: string
        style: form
        x-nullable: true
      - description: When should the cert no longer be valid (defaults to 13 months
          from now)
        explode: true
        in: query
        name: validityEnd
        required: false
        schema:
          format: date-time
          type: string
        style: form
        x-nullable: true
      - description: "True will just validate the request, but perform no changes\
          \ to any system"
        explode: true
        in: query
        name: dryRun
        required: false
        schema:
          default: true
          type: boolean
        style: form
        x-nullable: true
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CertificateState'
            application/json:
              schema:
                $ref: '#/components/schemas/CertificateState'
            text/json:
              schema:
                $ref: '#/components/schemas/CertificateState'
          description: Success
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Bad Request
      security:
      - oauth2: []
      summary: "[EXPERIMENTAL] ManageCertificate: Manages a new certificate (Create\
        \ / Renew / Revoke)"
      tags:
      - Certificate Management
      x-fbn-apistatus: Experimental
      x-accepts: application/json
  /api/History:
    get:
      description: |2

        Starts to load the historical query logs for a certain time range, search criteria, etc.

        The following error codes are to be anticipated with standard Problem Detail reports:
        - 401 Unauthorized
      operationId: GetHistory
      parameters:
      - description: Date time to start the search from. Will default to Now - 1 Day
        explode: true
        in: query
        name: startAt
        required: false
        schema:
          format: date-time
          type: string
        style: form
        x-nullable: true
      - description: Date time to end the search at. Defaults to now.
        explode: true
        in: query
        name: endAt
        required: false
        schema:
          format: date-time
          type: string
        style: form
        x-nullable: true
      - description: Some test that must be in at least one field returned.
        explode: true
        in: query
        name: freeTextSearch
        required: false
        schema:
          type: string
        style: form
      - description: "For users with extra permissions, they may optionally see other\
          \ users' queries."
        explode: true
        in: query
        name: showAll
        required: false
        schema:
          default: false
          type: boolean
        style: form
        x-nullable: true
      responses:
        "202":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/BackgroundQueryResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundQueryResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundQueryResponse'
          description: Accepted
      security:
      - oauth2: []
      summary: "GetHistory: Shows queries executed in a given historical time window\
        \ (in Json format)."
      tags:
      - Historically Executed Queries
      x-fbn-apistatus: Stable
      x-accepts: application/json
  /api/History/{executionId}:
    delete:
      description: |
        Cancel the query (if still running) / clear the data (if already returned)
        The following error codes are to be anticipated with standard Problem Detail reports:
        - 401 Unauthorized
        - 404 Not Found : The requested query result doesn't exist and is not running.
      operationId: CancelHistory
      parameters:
      - description: ExecutionId returned when starting the query
        explode: false
        in: path
        name: executionId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/BackgroundQueryCancelResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundQueryCancelResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundQueryCancelResponse'
          description: Success
      security:
      - oauth2: []
      summary: "CancelHistory: Cancels (if running) or clears the data from (if completed)\
        \ a previously started History query"
      tags:
      - Historically Executed Queries
      x-fbn-apistatus: Stable
      x-accepts: application/json
    get:
      description: |-
        View progress information (up until this point) of previously started History query
        The following error codes are to be anticipated with standard Problem Detail reports:
        - 401 Unauthorized
        - 404 Not Found : The requested query result doesn't exist and is not running.
        - 429 Too Many Requests : Please try your request again soon
         1. The query has been executed successfully in the past yet the server-instance receiving this request (e.g. from a load balancer) doesn't yet have this data available.
         1. By virtue of the request you have just placed this will have started to load from the persisted cache and will soon be available.
         1. It is also the case that the original server-instance to process the original query is likely to already be able to service this request.
      operationId: GetProgressOfHistory
      parameters:
      - description: ExecutionId returned when starting the query
        explode: false
        in: path
        name: executionId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/BackgroundQueryProgressResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundQueryProgressResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundQueryProgressResponse'
          description: Success
      security:
      - oauth2: []
      summary: "GetProgressOfHistory: View progress information (up until this point)\
        \ of a history query"
      tags:
      - Historically Executed Queries
      x-fbn-apistatus: Stable
      x-accepts: application/json
  /api/History/{executionId}/histogram:
    get:
      description: |-
        Fetch the histogram in Json format (if available, or if not simply being informed it is not yet ready)
        The following error codes are to be anticipated with standard Problem Detail reports:
        - 401 Unauthorized
        - 404 Not Found : The requested query result doesn't (yet) exist.
        - 429 Too Many Requests : Please try your request again soon
         1. The query has been executed successfully in the past yet the server-instance receiving this request (e.g. from a load balancer) doesn't yet have this data available.
         1. By virtue of the request you have just placed this will have started to load from the persisted cache and will soon be available.
         1. It is also the case that the original server-instance to process the original query is likely to already be able to service this request.
      operationId: FetchHistoryResultHistogram
      parameters:
      - description: ExecutionId returned when starting the query
        explode: false
        in: path
        name: executionId
        required: true
        schema:
          type: string
        style: simple
      - description: Optional histogram bucket width. If not provided a set number
          of buckets between start/end range will be generated.
        explode: true
        in: query
        name: bucketSize
        required: false
        schema:
          format: date-span
          type: string
        style: form
      - description: An ODATA filter per Finbourne.Filtering syntax.
        explode: true
        in: query
        name: filter
        required: false
        schema:
          maxLength: 16384
          minLength: 0
          pattern: "^[\\s\\S]*$"
          type: string
        style: form
      - description: Should this be text/json (not json-encoded-as-a-string)
        explode: true
        in: query
        name: jsonProper
        required: false
        schema:
          default: false
          type: boolean
        style: form
        x-nullable: true
      responses:
        "200":
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
          description: Success
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Bad Request
      security:
      - oauth2: []
      summary: "FetchHistoryResultHistogram: Fetches the result from a previously\
        \ started query, converts it to a histogram (counts in buckets)."
      tags:
      - Historically Executed Queries
      x-fbn-apistatus: Stable
      x-accepts: application/json
  /api/History/{executionId}/json:
    get:
      description: |-
        Fetch the data in Json format (if available, or if not simply being informed it is not yet ready)
        The following error codes are to be anticipated with standard Problem Detail reports:
        - 401 Unauthorized
        - 404 Not Found : The requested query result doesn't (yet) exist.
        - 429 Too Many Requests : Please try your request again soon
         1. The query has been executed successfully in the past yet the server-instance receiving this request (e.g. from a load balancer) doesn't yet have this data available.
         1. By virtue of the request you have just placed this will have started to load from the persisted cache and will soon be available.
         1. It is also the case that the original server-instance to process the original query is likely to already be able to service this request.
      operationId: FetchHistoryResultJson
      parameters:
      - description: ExecutionId returned when starting the query
        explode: false
        in: path
        name: executionId
        required: true
        schema:
          type: string
        style: simple
      - description: "Order the results by these fields.\r\n Use the `-` sign to denote\
          \ descending order, e.g. `-MyFieldName`. Numeric indexes may be used also,\
          \ e.g. `2,-3`.\r\n Multiple fields can be denoted by a comma e.g. `-MyFieldName,AnotherFieldName,-AFurtherFieldName`.\r\
          \n Default is null, the sort order specified in the query itself."
        explode: true
        in: query
        name: sortBy
        required: false
        schema:
          maxLength: 16384
          minLength: 1
          pattern: "^[\\s\\S]*$"
          type: string
        style: form
      - description: An ODATA filter per Finbourne.Filtering syntax.
        explode: true
        in: query
        name: filter
        required: false
        schema:
          maxLength: 16384
          minLength: 0
          pattern: "^[\\s\\S]*$"
          type: string
        style: form
      - description: "Default is null (meaning return all columns in the original\
          \ query itself).\r\nThe values are in terms of the result column name from\
          \ the original data set and are comma delimited.\r\nThe power of this comes\
          \ in that you may aggregate the data if you wish\r\n(that is the main reason\
          \ for allowing this, in fact).\r\ne.g.:\r\n- `MyField`\r\n- `Max(x) FILTER\
          \ (WHERE y > 12) as ABC` (max of a field, if another field lets it qualify,\
          \ with a nice column name)\r\n- `count(*)` (count the rows for the given\
          \ group, that would produce a rather ugly column name, but it works)\r\n\
          - `count(distinct x) as numOfXs`\r\nIf there was an illegal character in\
          \ a field you are selecting from, you are responsible for bracketing it\
          \ with [ ]. \r\ne.g.\r\n- `some_field, count(*) as a, max(x) as b, min([column\
          \ with space in name]) as nice_name`\r\n where you would likely want to\
          \ pass `1` as the `groupBy` also."
        explode: true
        in: query
        name: select
        required: false
        schema:
          type: string
        style: form
      - description: "Groups by the specified fields.\r\n A comma delimited list of:\
          \ 1 based numeric indexes (cleaner), or repeats of the select expressions\
          \ (a bit verbose and must match exactly).\r\n e.g. `2,3`, `myColumn`.\r\n\
          \ Default is null (meaning no grouping will be performed on the selected\
          \ columns).\r\n This applies only over the result set being requested here,\
          \ meaning indexes into the \"select\" parameter fields.\r\n Only specify\
          \ this if you are selecting aggregations in the \"select\" parameter."
        explode: true
        in: query
        name: groupBy
        required: false
        schema:
          type: string
        style: form
      - description: "When paginating, only return this number of records, page should\
          \ also be specified."
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
        x-nullable: true
      - description: "0-N based on chunk sized determined by the limit, ignored if\
          \ limit < 1."
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
        x-nullable: true
      - description: Should this be text/json (not json-encoded-as-a-string)
        explode: true
        in: query
        name: jsonProper
        required: false
        schema:
          default: false
          type: boolean
        style: form
        x-nullable: true
      responses:
        "200":
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
          description: Success
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Bad Request
      security:
      - oauth2: []
      summary: "FetchHistoryResultJson: Fetches the result from a previously started\
        \ query, in JSON format."
      tags:
      - Historically Executed Queries
      x-fbn-apistatus: Stable
      x-accepts: application/json
  /api/metadata/access/resources:
    get:
      description: "\nGet the comprehensive set of resources that are available for\
        \ access control.\n\nThe following LuminesceSql is executed to return this\
        \ information, \nwhich is then packaged up as AccessControlledResource:\n\n\
        ```sql\nselect\n Name,\n min(coalesce(Description, Name) || ' (' || Type ||\
        \ ')') as Description\nfrom\n Sys.Registration\nwhere\n Type in ('DirectProvider',\
        \ 'DataProvider')\n and\n ShowAll = true\ngroup by 1\norder by 1\n \n```\n\
        \nThe following error codes are to be anticipated with standard Problem Detail\
        \ reports:\n- 401 Unauthorized\n"
      operationId: GetServicesAsAccessControlledResources
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ResourceListOfAccessControlledResource'
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceListOfAccessControlledResource'
            text/json:
              schema:
                $ref: '#/components/schemas/ResourceListOfAccessControlledResource'
          description: Success
      security:
      - oauth2: []
      summary: "GetServicesAsAccessControlledResources: Get resources available for\
        \ access control"
      tags:
      - Application Metadata
      x-fbn-apistatus: Stable
      x-accepts: application/json
  /api/MultiQueryBackground:
    put:
      description: "\nAllow for starting a potentially long running query and getting\
        \ back an immediate response with how to \n- fetch the data in various formats\
        \ (if available, or if not simply being informed it is not yet ready), on\
        \ a per result basis\n- view progress information (up until this point), for\
        \ all results in one go\n- cancel the queries (if still running) / clear the\
        \ data (if already returned)\n\nThe following error codes are to be anticipated\
        \ with standard Problem Detail reports:\n- 400 BadRequest - there was something\
        \ wrong with your query syntax (the issue was detected at parse-time)\n- 401\
        \ Unauthorized\n"
      operationId: StartQueries
      parameters:
      - description: An enum value defining the set of statements being executed
        example: Instrument
        explode: true
        in: query
        name: type
        required: true
        schema:
          $ref: '#/components/schemas/MultiQueryDefinitionType'
        style: form
      - description: The AsAt time used by any bitemporal provider in the queries.
        explode: true
        in: query
        name: asAt
        required: false
        schema:
          format: date-time
          type: string
        style: form
        x-nullable: true
      - description: The EffectiveAt time used by any bitemporal provider in the queries.
        explode: true
        in: query
        name: effectiveAt
        required: false
        schema:
          format: date-time
          type: string
        style: form
        x-nullable: true
      - description: A limit that is applied to first-level queries (e.g. Instruments
          themselves)
        explode: true
        in: query
        name: limit1
        required: false
        schema:
          format: int32
          type: integer
        style: form
        x-nullable: true
      - description: A limit that is applied to second-level queries (e.g. Holdings
          based on the set of Instruments found)
        explode: true
        in: query
        name: limit2
        required: false
        schema:
          format: int32
          type: integer
        style: form
        x-nullable: true
      - description: "A value available to queries, these vary by 'type' and are only\
          \ used by some types at all.\r\ne.g. a start-date of some sort"
        explode: true
        in: query
        name: input1
        required: false
        schema:
          type: string
        style: form
      - description: "A second value available to queries, these vary by 'type' and\
          \ are only used by some types at all."
        explode: true
        in: query
        name: input2
        required: false
        schema:
          type: string
        style: form
      - description: "A third value available to queries, these vary by 'type' and\
          \ are only used by some types at all."
        explode: true
        in: query
        name: input3
        required: false
        schema:
          type: string
        style: form
      - description: "Maximum time the query may run for, in seconds: <0 → ∞, 0 →\
          \ 1200s (20m)"
        example: 1200
        explode: true
        in: query
        name: timeoutSeconds
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
        x-nullable: true
      - description: "Maximum time the result may be kept for, in seconds: <0 → 1200\
          \ (20m), 0 → 28800 (8h), max = 2,678,400 (31d)"
        example: 7200
        explode: true
        in: query
        name: keepForSeconds
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
        x-nullable: true
      requestBody:
        content:
          text/plain:
            example: Apple
            schema:
              type: string
        description: "A \"search\" value (e.g. 'Apple' on an instrument search, a\
          \ `Finbourne.Filtering` expression of Insights, etc.)\r\nIn the cases where\
          \ \"Nothing\" is valid for a `Finbourne.Filtering` expression, pass `True`."
        required: true
      responses:
        "202":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/BackgroundMultiQueryResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundMultiQueryResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundMultiQueryResponse'
          description: Accepted
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Bad Request
      security:
      - oauth2: []
      summary: "StartQueries: Starts to Execute the LuminesceSql statements in the\
        \ background."
      tags:
      - Multi-Query Execution
      x-fbn-apistatus: Stable
      x-content-type: text/plain
      x-accepts: application/json
  /api/MultiQueryBackground/{executionId}:
    delete:
      description: |
        Cancel the query-set (if still running) / clear the data (if already returned)
        The following error codes are to be anticipated with standard Problem Detail reports:
        - 401 Unauthorized
        - 404 Not Found : The requested query result doesn't exist and is not running.
      operationId: CancelMultiQuery
      parameters:
      - description: ExecutionId returned when starting the query
        explode: false
        in: path
        name: executionId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/BackgroundQueryCancelResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundQueryCancelResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundQueryCancelResponse'
          description: Success
      security:
      - oauth2: []
      summary: "CancelMultiQuery: Cancels (if running) or clears the data from (if\
        \ completed) a previously started query-set"
      tags:
      - Multi-Query Execution
      x-fbn-apistatus: Stable
      x-accepts: application/json
    get:
      description: |-
        View progress information (up until this point) for the entire query-set
        The following error codes are to be anticipated with standard Problem Detail reports:
        - 401 Unauthorized
        - 404 Not Found : The requested query result doesn't exist and is not running.
        - 429 Too Many Requests : Please try your request again soon
         1. The query has been executed successfully in the past yet the server-instance receiving this request (e.g. from a load balancer) doesn't yet have this data available.
         1. By virtue of the request you have just placed this will have started to load from the persisted cache and will soon be available.
         1. It is also the case that the original server-instance to process the original query is likely to already be able to service this request.
      operationId: GetProgressOfMultiQuery
      parameters:
      - description: ExecutionId returned when starting the query
        explode: false
        in: path
        name: executionId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/BackgroundMultiQueryProgressResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundMultiQueryProgressResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundMultiQueryProgressResponse'
          description: Success
      security:
      - oauth2: []
      summary: "GetProgressOfMultiQuery: View progress information (up until this\
        \ point) for the entire query-set"
      tags:
      - Multi-Query Execution
      x-fbn-apistatus: Stable
      x-accepts: application/json
  /api/Sql/csv:
    put:
      description: |2

        For more complex LuminesceSql a PUT will allow for longer Sql.
        e.g.:
        ```sql
        @@cutoff = select #2020-02-01#;
        @issues = select Id, SortId, Summary, Created, Updated from Dev.Jira.Issue where Project='HC' and Created < @@cutoff and Updated > @@cutoff;

        select i.Id, i.SortId, i.Summary, LinkText, LinkedIssueId, LinkedIssueSortId, LinkedIssueSummary
        from @issues i
        inner join Dev.Jira.Issue.Link li
         on i.Id = li.IssueId
        ```

        The following error codes are to be anticipated with standard Problem Detail reports:
        - 400 BadRequest - something failed with the execution or parsing of your query
        - 401 Unauthorized
      operationId: PutByQueryCsv
      parameters:
      - description: Name to apply to the query in logs and `Sys.Logs.HcQueryStart`
        example: Get tables/fields
        explode: true
        in: query
        name: queryName
        required: false
        schema:
          type: string
        style: form
      - description: Makes this a file-download request (as opposed to returning the
          data in the response-body)
        explode: true
        in: query
        name: download
        required: false
        schema:
          default: false
          type: boolean
        style: form
        x-nullable: true
      - description: "In seconds: <0 → ∞, 0 → 120s"
        example: 120
        explode: true
        in: query
        name: timeoutSeconds
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
        x-nullable: true
      - description: Delimiter string to override the default
        explode: true
        in: query
        name: delimiter
        required: false
        schema:
          type: string
        style: form
      - description: Escape character to override the default
        explode: true
        in: query
        name: escape
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          text/plain:
            example: select generate justfile test_sdk from sys.field
            schema:
              type: string
        description: LuminesceSql to Execute (may be multi-line)
        required: true
      responses:
        "200":
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
          description: Success
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Bad Request
      security:
      - oauth2: []
      summary: "PutByQueryCsv: Executes Sql, returned in CSV format, where the sql\
        \ is the post-body url."
      tags:
      - Sql Execution
      x-fbn-apistatus: Stable
      x-content-type: text/plain
      x-accepts: application/json
  /api/Sql/csv/{query}:
    get:
      description: |2

        For simple single-line query execution via the url.
        e.g. `select ^ from Sys.Field order by 1, 2`

        The following error codes are to be anticipated with standard Problem Detail reports:
        - 400 BadRequest - something failed with the execution or parsing of your query
        - 401 Unauthorized
      operationId: GetByQueryCsv
      parameters:
      - description: LuminesceSql to Execute (must be one line only)
        example: "select ^ from Sys.Field order by 1, 2"
        explode: false
        in: path
        name: query
        required: true
        schema:
          type: string
        style: simple
      - description: Name to apply to the query in logs and `Sys.Logs.HcQueryStart`
        example: Get tables/fields
        explode: true
        in: query
        name: queryName
        required: false
        schema:
          type: string
        style: form
      - description: Makes this a file-download request (as opposed to returning the
          data in the response-body)
        explode: true
        in: query
        name: download
        required: false
        schema:
          default: false
          type: boolean
        style: form
        x-nullable: true
      - description: "In seconds: <0 → ∞, 0 → 120s"
        example: 120
        explode: true
        in: query
        name: timeout
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
        x-nullable: true
      - description: Delimiter string to override the default
        explode: true
        in: query
        name: delimiter
        required: false
        schema:
          type: string
        style: form
      - description: Escape character to override the default
        explode: true
        in: query
        name: escape
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
          description: Success
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Bad Request
      security:
      - oauth2: []
      summary: "GetByQueryCsv: Executes Sql, returned in CSV format, where the sql\
        \ is simply in the url."
      tags:
      - Sql Execution
      x-fbn-apistatus: Stable
      x-accepts: application/json
  /api/Sql/excel:
    put:
      description: |2

        For more complex LuminesceSql a PUT will allow for longer Sql.
        e.g.:
        ```sql
        @@cutoff = select #2020-02-01#;
        @issues = select Id, SortId, Summary, Created, Updated from Dev.Jira.Issue where Project='HC' and Created < @@cutoff and Updated > @@cutoff;

        select i.Id, i.SortId, i.Summary, LinkText, LinkedIssueId, LinkedIssueSortId, LinkedIssueSummary
        from @issues i
        inner join Dev.Jira.Issue.Link li
         on i.Id = li.IssueId
        ```

        The following error codes are to be anticipated with standard Problem Detail reports:
        - 400 BadRequest - something failed with the execution or parsing of your query
        - 401 Unauthorized
      operationId: PutByQueryExcel
      parameters:
      - description: Name to apply to the query in logs and `Sys.Logs.HcQueryStart`
        example: Get tables/fields
        explode: true
        in: query
        name: queryName
        required: false
        schema:
          type: string
        style: form
      - description: "In seconds: <0 → ∞, 0 → 120s"
        example: 120
        explode: true
        in: query
        name: timeoutSeconds
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
        x-nullable: true
      requestBody:
        content:
          text/plain:
            example: select generate justfile test_sdk from sys.field
            schema:
              type: string
        description: LuminesceSql to Execute (may be multi-line)
        required: true
      responses:
        "200":
          content:
            text/plain:
              schema:
                format: binary
                type: string
            application/json:
              schema:
                format: binary
                type: string
            text/json:
              schema:
                format: binary
                type: string
          description: Success
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Bad Request
      security:
      - oauth2: []
      summary: "PutByQueryExcel: Executes Sql, returned in Excel (xlsx) format (as\
        \ a file to be downloaded), where the sql is the post-body url."
      tags:
      - Sql Execution
      x-fbn-apistatus: Stable
      x-content-type: text/plain
      x-accepts: application/json
  /api/Sql/excel/{query}:
    get:
      description: |2

        For simple single-line query execution via the url.
        e.g. `select ^ from Sys.Field order by 1, 2`

        The following error codes are to be anticipated with standard Problem Detail reports:
        - 400 BadRequest - something failed with the execution or parsing of your query
        - 401 Unauthorized
      operationId: GetByQueryExcel
      parameters:
      - description: LuminesceSql to Execute (must be one line only)
        example: "select ^ from Sys.Field order by 1, 2"
        explode: false
        in: path
        name: query
        required: true
        schema:
          type: string
        style: simple
      - description: Name to apply to the query in logs and `Sys.Logs.HcQueryStart`
        example: Get tables/fields
        explode: true
        in: query
        name: queryName
        required: false
        schema:
          type: string
        style: form
      - description: "In seconds: <0 → ∞, 0 → 120s"
        example: 120
        explode: true
        in: query
        name: timeout
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
        x-nullable: true
      responses:
        "200":
          content:
            text/plain:
              schema:
                format: binary
                type: string
            application/json:
              schema:
                format: binary
                type: string
            text/json:
              schema:
                format: binary
                type: string
          description: Success
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Bad Request
      security:
      - oauth2: []
      summary: "GetByQueryExcel: Executes Sql, returned in Excel (xlsx) format (as\
        \ a file to be downloaded) format, where the sql is simply in the url."
      tags:
      - Sql Execution
      x-fbn-apistatus: Stable
      x-accepts: application/json
  /api/Sql/fromdesign:
    put:
      description: SQL Designer specification to generate SQL from
      operationId: PutQueryDesignToSql
      requestBody:
        content:
          application/json-patch+json:
            example:
              tableName: Sys.Field
              fields:
              - name: TableName
                dataType: Text
                shouldSelect: true
                filters:
                - operator: Eq
                  value: Sys.Registration
                aggregations: []
              - name: FieldName
                dataType: Text
                shouldSelect: true
                filters: []
                aggregations:
                - type: count_distinct
                  alias: NumberOfFields
              orderBy:
              - field: DataType
                direction: asc
              limit: 42
              warnings: []
              availableFields: []
            schema:
              $ref: '#/components/schemas/QueryDesign'
          application/json:
            example:
              tableName: Sys.Field
              fields:
              - name: TableName
                dataType: Text
                shouldSelect: true
                filters:
                - operator: Eq
                  value: Sys.Registration
                aggregations: []
              - name: FieldName
                dataType: Text
                shouldSelect: true
                filters: []
                aggregations:
                - type: count_distinct
                  alias: NumberOfFields
              orderBy:
              - field: DataType
                direction: asc
              limit: 42
              warnings: []
              availableFields: []
            schema:
              $ref: '#/components/schemas/QueryDesign'
          text/json:
            example:
              tableName: Sys.Field
              fields:
              - name: TableName
                dataType: Text
                shouldSelect: true
                filters:
                - operator: Eq
                  value: Sys.Registration
                aggregations: []
              - name: FieldName
                dataType: Text
                shouldSelect: true
                filters: []
                aggregations:
                - type: count_distinct
                  alias: NumberOfFields
              orderBy:
              - field: DataType
                direction: asc
              limit: 42
              warnings: []
              availableFields: []
            schema:
              $ref: '#/components/schemas/QueryDesign'
          application/*+json:
            example:
              tableName: Sys.Field
              fields:
              - name: TableName
                dataType: Text
                shouldSelect: true
                filters:
                - operator: Eq
                  value: Sys.Registration
                aggregations: []
              - name: FieldName
                dataType: Text
                shouldSelect: true
                filters: []
                aggregations:
                - type: count_distinct
                  alias: NumberOfFields
              orderBy:
              - field: DataType
                direction: asc
              limit: 42
              warnings: []
              availableFields: []
            schema:
              $ref: '#/components/schemas/QueryDesign'
        description: Structured Query design object to generate SQL from
        required: true
      responses:
        "200":
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
          description: Success
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Bad Request
      security:
      - oauth2: []
      summary: "[EXPERIMENTAL] PutQueryDesignToSql: Generates SQL from a structured\
        \ query design"
      tags:
      - Sql Execution
      x-fbn-apistatus: Experimental
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /api/Sql/fromfilereaddesign:
    put:
      description: SQL Designer specification to generate SQL from
      operationId: PutFileReadDesignToSql
      parameters:
      - description: Should the generated query be executed to build preview data
          or determine errors.>
        explode: true
        in: query
        name: executeQuery
        required: false
        schema:
          default: true
          type: boolean
        style: form
        x-nullable: true
      requestBody:
        content:
          application/json-patch+json:
            example:
              limit: 0
              source:
                location: Drive
                type: Csv
              filePath: /some/folder
              folderFilter: .*\.csv
              addFileName: true
            schema:
              $ref: '#/components/schemas/FileReaderBuilderDef'
          application/json:
            example:
              limit: 0
              source:
                location: Drive
                type: Csv
              filePath: /some/folder
              folderFilter: .*\.csv
              addFileName: true
            schema:
              $ref: '#/components/schemas/FileReaderBuilderDef'
          text/json:
            example:
              limit: 0
              source:
                location: Drive
                type: Csv
              filePath: /some/folder
              folderFilter: .*\.csv
              addFileName: true
            schema:
              $ref: '#/components/schemas/FileReaderBuilderDef'
          application/*+json:
            example:
              limit: 0
              source:
                location: Drive
                type: Csv
              filePath: /some/folder
              folderFilter: .*\.csv
              addFileName: true
            schema:
              $ref: '#/components/schemas/FileReaderBuilderDef'
        description: Structured file read design object to generate SQL from
        required: true
      responses:
        "200":
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
          description: Success
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Bad Request
      security:
      - oauth2: []
      summary: "[EXPERIMENTAL] PutFileReadDesignToSql: Generates file read SQL from\
        \ a structured query design"
      tags:
      - Sql Execution
      x-fbn-apistatus: Experimental
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /api/Sql/fromviewdesign:
    put:
      description: Converts a ConvertToView specification into SQL that creates a
        view
      operationId: PutViewDesignToSql
      requestBody:
        content:
          application/json-patch+json:
            example:
              query: select generate justfile test_sdk from Lusid.Instrument.bond
              name: Views.MyView
              description: This is a tooltip for the view as a whole
              documentationLink: https://mydocumentationlink.com
              viewParameters:
              - name: MyTextParam
                dataType: Text
                value: Portfolio
                isTableDataMandatory: false
                description: This is a parameter tooltip
              - name: EffectiveAt
                dataType: Date
                value: 2023-05-03
                isTableDataMandatory: false
                description: This is a parameter tooltip
              - name: IsActive
                dataType: Boolean
                value: "true"
                isTableDataMandatory: true
                description: This is a parameter tooltip
              - name: EndUserTable
                dataType: Table
                value: '@end_user_table'
                isTableDataMandatory: true
                description: This is a parameter tooltip
              otherParameters: {}
            schema:
              $ref: '#/components/schemas/ConvertToViewData'
          application/json:
            example:
              query: select generate justfile test_sdk from Lusid.Instrument.bond
              name: Views.MyView
              description: This is a tooltip for the view as a whole
              documentationLink: https://mydocumentationlink.com
              viewParameters:
              - name: MyTextParam
                dataType: Text
                value: Portfolio
                isTableDataMandatory: false
                description: This is a parameter tooltip
              - name: EffectiveAt
                dataType: Date
                value: 2023-05-03
                isTableDataMandatory: false
                description: This is a parameter tooltip
              - name: IsActive
                dataType: Boolean
                value: "true"
                isTableDataMandatory: true
                description: This is a parameter tooltip
              - name: EndUserTable
                dataType: Table
                value: '@end_user_table'
                isTableDataMandatory: true
                description: This is a parameter tooltip
              otherParameters: {}
            schema:
              $ref: '#/components/schemas/ConvertToViewData'
          text/json:
            example:
              query: select generate justfile test_sdk from Lusid.Instrument.bond
              name: Views.MyView
              description: This is a tooltip for the view as a whole
              documentationLink: https://mydocumentationlink.com
              viewParameters:
              - name: MyTextParam
                dataType: Text
                value: Portfolio
                isTableDataMandatory: false
                description: This is a parameter tooltip
              - name: EffectiveAt
                dataType: Date
                value: 2023-05-03
                isTableDataMandatory: false
                description: This is a parameter tooltip
              - name: IsActive
                dataType: Boolean
                value: "true"
                isTableDataMandatory: true
                description: This is a parameter tooltip
              - name: EndUserTable
                dataType: Table
                value: '@end_user_table'
                isTableDataMandatory: true
                description: This is a parameter tooltip
              otherParameters: {}
            schema:
              $ref: '#/components/schemas/ConvertToViewData'
          application/*+json:
            example:
              query: select generate justfile test_sdk from Lusid.Instrument.bond
              name: Views.MyView
              description: This is a tooltip for the view as a whole
              documentationLink: https://mydocumentationlink.com
              viewParameters:
              - name: MyTextParam
                dataType: Text
                value: Portfolio
                isTableDataMandatory: false
                description: This is a parameter tooltip
              - name: EffectiveAt
                dataType: Date
                value: 2023-05-03
                isTableDataMandatory: false
                description: This is a parameter tooltip
              - name: IsActive
                dataType: Boolean
                value: "true"
                isTableDataMandatory: true
                description: This is a parameter tooltip
              - name: EndUserTable
                dataType: Table
                value: '@end_user_table'
                isTableDataMandatory: true
                description: This is a parameter tooltip
              otherParameters: {}
            schema:
              $ref: '#/components/schemas/ConvertToViewData'
        description: Structured Query design object to generate SQL from
        required: true
      responses:
        "200":
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
          description: Success
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Bad Request
      security:
      - oauth2: []
      summary: "[EXPERIMENTAL] PutViewDesignToSql: Generates view creation sql from\
        \ a structured view creation design"
      tags:
      - Sql Execution
      x-fbn-apistatus: Experimental
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /api/Sql/json:
    put:
      description: |2

        For more complex LuminesceSql a PUT will allow for longer Sql.
        e.g.:
        ```sql
        @@cutoff = select #2020-02-01#;
        @issues = select Id, SortId, Summary, Created, Updated from Dev.Jira.Issue where Project='HC' and Created < @@cutoff and Updated > @@cutoff;

        select i.Id, i.SortId, i.Summary, LinkText, LinkedIssueId, LinkedIssueSortId, LinkedIssueSummary
        from @issues i
        inner join Dev.Jira.Issue.Link li
         on i.Id = li.IssueId
        ```

        The following error codes are to be anticipated with standard Problem Detail reports:
        - 400 BadRequest - something failed with the execution or parsing of your query
        - 401 Unauthorized
      operationId: PutByQueryJson
      parameters:
      - description: Name to apply to the query in logs and `Sys.Logs.HcQueryStart`
        example: Get tables/fields
        explode: true
        in: query
        name: queryName
        required: false
        schema:
          type: string
        style: form
      - description: "In seconds: <0 → ∞, 0 → 120s"
        example: 120
        explode: true
        in: query
        name: timeoutSeconds
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
        x-nullable: true
      - description: Should this be text/json (not json-encoded-as-a-string)
        explode: true
        in: query
        name: jsonProper
        required: false
        schema:
          default: false
          type: boolean
        style: form
        x-nullable: true
      requestBody:
        content:
          text/plain:
            example: select generate justfile test_sdk from sys.field
            schema:
              type: string
        description: LuminesceSql to Execute (may be multi-line)
        required: true
      responses:
        "200":
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
          description: Success
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Bad Request
      security:
      - oauth2: []
      summary: "PutByQueryJson: Executes Sql, returned in JSON format, where the sql\
        \ is the post-body url."
      tags:
      - Sql Execution
      x-fbn-apistatus: Stable
      x-content-type: text/plain
      x-accepts: application/json
  /api/Sql/json/{query}:
    get:
      description: |2

        For simple single-line query execution via the url.
        e.g. `select ^ from Sys.Field order by 1, 2`

        The following error codes are to be anticipated with standard Problem Detail reports:
        - 400 BadRequest - something failed with the execution or parsing of your query
        - 401 Unauthorized
      operationId: GetByQueryJson
      parameters:
      - description: LuminesceSql to Execute (must be one line only)
        example: "select ^ from Sys.Field order by 1, 2"
        explode: false
        in: path
        name: query
        required: true
        schema:
          type: string
        style: simple
      - description: Name to apply to the query in logs and `Sys.Logs.HcQueryStart`
        example: Get tables/fields
        explode: true
        in: query
        name: queryName
        required: false
        schema:
          type: string
        style: form
      - description: "In seconds: <0 → ∞, 0 → 120s"
        example: 120
        explode: true
        in: query
        name: timeout
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
        x-nullable: true
      - description: Should this be text/json (not json-encoded-as-a-string)
        explode: true
        in: query
        name: jsonProper
        required: false
        schema:
          default: false
          type: boolean
        style: form
        x-nullable: true
      responses:
        "200":
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
          description: Success
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Bad Request
      security:
      - oauth2: []
      summary: "GetByQueryJson: Executes Sql, returned in JSON format, where the sql\
        \ is simply in the url."
      tags:
      - Sql Execution
      x-fbn-apistatus: Stable
      x-accepts: application/json
  /api/Sql/parquet:
    put:
      description: |2

        For more complex LuminesceSql a PUT will allow for longer Sql.
        e.g.:
        ```sql
        @@cutoff = select #2020-02-01#;
        @issues = select Id, SortId, Summary, Created, Updated from Dev.Jira.Issue where Project='HC' and Created < @@cutoff and Updated > @@cutoff;

        select i.Id, i.SortId, i.Summary, LinkText, LinkedIssueId, LinkedIssueSortId, LinkedIssueSummary
        from @issues i
        inner join Dev.Jira.Issue.Link li
         on i.Id = li.IssueId
        ```

        The following error codes are to be anticipated with standard Problem Detail reports:
        - 400 BadRequest - something failed with the execution or parsing of your query
        - 401 Unauthorized
      operationId: PutByQueryParquet
      parameters:
      - description: Name to apply to the query in logs and `Sys.Logs.HcQueryStart`
        example: Get tables/fields
        explode: true
        in: query
        name: queryName
        required: false
        schema:
          type: string
        style: form
      - description: "In seconds: <0 → ∞, 0 → 120s"
        example: 120
        explode: true
        in: query
        name: timeoutSeconds
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
        x-nullable: true
      requestBody:
        content:
          text/plain:
            example: select generate justfile test_sdk from sys.field
            schema:
              type: string
        description: LuminesceSql to Execute (may be multi-line)
        required: true
      responses:
        "200":
          content:
            text/plain:
              schema:
                format: binary
                type: string
            application/json:
              schema:
                format: binary
                type: string
            text/json:
              schema:
                format: binary
                type: string
          description: Success
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Bad Request
      security:
      - oauth2: []
      summary: "PutByQueryParquet: Executes Sql, returned in Parquet format, where\
        \ the sql is the post-body url."
      tags:
      - Sql Execution
      x-fbn-apistatus: Stable
      x-content-type: text/plain
      x-accepts: application/json
  /api/Sql/parquet/{query}:
    get:
      description: |2

        For simple single-line query execution via the url.
        e.g. `select ^ from Sys.Field order by 1, 2`

        The following error codes are to be anticipated with standard Problem Detail reports:
        - 400 BadRequest - something failed with the execution or parsing of your query
        - 401 Unauthorized
      operationId: GetByQueryParquet
      parameters:
      - description: LuminesceSql to Execute (must be one line only)
        example: "select ^ from Sys.Field order by 1, 2"
        explode: false
        in: path
        name: query
        required: true
        schema:
          type: string
        style: simple
      - description: Name to apply to the query in logs and `Sys.Logs.HcQueryStart`
        example: Get tables/fields
        explode: true
        in: query
        name: queryName
        required: false
        schema:
          type: string
        style: form
      - description: "In seconds: <0 → ∞, 0 → 120s"
        example: 120
        explode: true
        in: query
        name: timeout
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
        x-nullable: true
      responses:
        "200":
          content:
            text/plain:
              schema:
                format: binary
                type: string
            application/json:
              schema:
                format: binary
                type: string
            text/json:
              schema:
                format: binary
                type: string
          description: Success
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Bad Request
      security:
      - oauth2: []
      summary: "GetByQueryParquet: Executes Sql, returned in Parquet (.parquet) format\
        \ (as a file to be downloaded) format, where the sql is simply in the url."
      tags:
      - Sql Execution
      x-fbn-apistatus: Stable
      x-accepts: application/json
  /api/Sql/pipe:
    put:
      description: |2

        For more complex LuminesceSql a PUT will allow for longer Sql.
        e.g.:
        ```sql
        @@cutoff = select #2020-02-01#;
        @issues = select Id, SortId, Summary, Created, Updated from Dev.Jira.Issue where Project='HC' and Created < @@cutoff and Updated > @@cutoff;

        select i.Id, i.SortId, i.Summary, LinkText, LinkedIssueId, LinkedIssueSortId, LinkedIssueSummary
        from @issues i
        inner join Dev.Jira.Issue.Link li
         on i.Id = li.IssueId
        ```

        The following error codes are to be anticipated with standard Problem Detail reports:
        - 400 BadRequest - something failed with the execution or parsing of your query
        - 401 Unauthorized
      operationId: PutByQueryPipe
      parameters:
      - description: Name to apply to the query in logs and `Sys.Logs.HcQueryStart`
        example: Get tables/fields
        explode: true
        in: query
        name: queryName
        required: false
        schema:
          type: string
        style: form
      - description: Makes this a file-download request (as opposed to returning the
          data in the response-body)
        explode: true
        in: query
        name: download
        required: false
        schema:
          default: false
          type: boolean
        style: form
        x-nullable: true
      - description: "In seconds: <0 → ∞, 0 → 120s"
        example: 120
        explode: true
        in: query
        name: timeoutSeconds
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
        x-nullable: true
      requestBody:
        content:
          text/plain:
            example: select generate justfile test_sdk from sys.field
            schema:
              type: string
        description: LuminesceSql to Execute (may be multi-line)
        required: true
      responses:
        "200":
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
          description: Success
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Bad Request
      security:
      - oauth2: []
      summary: "PutByQueryPipe: Executes Sql, returned in pipe-delimited format, where\
        \ the sql is the post-body url."
      tags:
      - Sql Execution
      x-fbn-apistatus: Stable
      x-content-type: text/plain
      x-accepts: application/json
  /api/Sql/pipe/{query}:
    get:
      description: |2

        For simple single-line query execution via the url.
        e.g. `select ^ from Sys.Field order by 1, 2`

        The following error codes are to be anticipated with standard Problem Detail reports:
        - 400 BadRequest - something failed with the execution or parsing of your query
        - 401 Unauthorized
      operationId: GetByQueryPipe
      parameters:
      - description: LuminesceSql to Execute (must be one line only)
        example: "select ^ from Sys.Field order by 1, 2"
        explode: false
        in: path
        name: query
        required: true
        schema:
          type: string
        style: simple
      - description: Name to apply to the query in logs and `Sys.Logs.HcQueryStart`
        example: Get tables/fields
        explode: true
        in: query
        name: queryName
        required: false
        schema:
          type: string
        style: form
      - description: Makes this a file-download request (as opposed to returning the
          data in the response-body)
        explode: true
        in: query
        name: download
        required: false
        schema:
          default: false
          type: boolean
        style: form
        x-nullable: true
      - description: "In seconds: <0 → ∞, 0 → 120s"
        example: 120
        explode: true
        in: query
        name: timeout
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
        x-nullable: true
      responses:
        "200":
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
          description: Success
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Bad Request
      security:
      - oauth2: []
      summary: "GetByQueryPipe: Executes Sql, returned in pipe-delimited format, where\
        \ the sql is simply in the url."
      tags:
      - Sql Execution
      x-fbn-apistatus: Stable
      x-accepts: application/json
  /api/Sql/pretty:
    put:
      description: |2

        This formats SQL (given a set of options as to how to do so).
        It takes some SQL (or a fragment thereof, it need not fully parse as yet and certainly need not execute correctly)
        and returns the reformatted version.
        e.g.
        ```sql
        select x,y,z from a inner join b on a.x=b.x where x>y or y!=z
        ```
        becomes
        ```sql
        select x, y, z
        from a
        inner join b
         on a.x = b.x
        where x > y
         or y != z
        ```
      operationId: PutQueryToFormat
      parameters:
      - description: Should commas be after an expression (as opposed to before)
        explode: true
        in: query
        name: trailingCommas
        required: false
        schema:
          default: true
          type: boolean
        style: form
        x-nullable: true
      - description: Should key words be capitalized
        explode: true
        in: query
        name: uppercaseKeywords
        required: false
        schema:
          default: false
          type: boolean
        style: form
        x-nullable: true
      - description: Should clauses on joins be given line breaks?
        explode: true
        in: query
        name: breakJoinOnSections
        required: false
        schema:
          default: true
          type: boolean
        style: form
        x-nullable: true
      - description: Should comma-lists have spaces after the commas?
        explode: true
        in: query
        name: spaceAfterExpandedComma
        required: false
        schema:
          default: true
          type: boolean
        style: form
        x-nullable: true
      - description: Should the "nicest" key words be used? (e.g. JOIN -> INNER JOIN)
        explode: true
        in: query
        name: keywordStandardization
        required: false
        schema:
          default: true
          type: boolean
        style: form
        x-nullable: true
      - description: "Should comma-lists (e.g. select a,b,c) have line breaks added?"
        explode: true
        in: query
        name: expandCommaLists
        required: false
        schema:
          default: false
          type: boolean
        style: form
        x-nullable: true
      - description: Should IN-lists have line breaks added?
        explode: true
        in: query
        name: expandInLists
        required: false
        schema:
          default: false
          type: boolean
        style: form
        x-nullable: true
      - description: Should boolean expressions have line breaks added?
        explode: true
        in: query
        name: expandBooleanExpressions
        required: false
        schema:
          default: true
          type: boolean
        style: form
        x-nullable: true
      - description: Should between conditions have line breaks added?
        explode: true
        in: query
        name: expandBetweenConditions
        required: false
        schema:
          default: true
          type: boolean
        style: form
        x-nullable: true
      - description: Should case-statements have line breaks added?
        explode: true
        in: query
        name: expandCaseStatements
        required: false
        schema:
          default: true
          type: boolean
        style: form
        x-nullable: true
      - description: Maximum number of characters to allow on one line (if possible)
        explode: true
        in: query
        name: maxLineWidth
        required: false
        schema:
          default: 120
          format: int32
          type: integer
        style: form
        x-nullable: true
      - description: Should the be a space before trailing single line comments?
        explode: true
        in: query
        name: spaceBeforeTrailingSingleLineComments
        required: false
        schema:
          default: true
          type: boolean
        style: form
        x-nullable: true
      - description: Should an additional line break be added after multi-line comments?
        explode: true
        in: query
        name: multilineCommentExtraLineBreak
        required: false
        schema:
          default: false
          type: boolean
        style: form
        x-nullable: true
      requestBody:
        content:
          text/plain:
            example: select generate justfile test_sdk from sys.field
            schema:
              type: string
        description: LuminesceSql to Pretty-Print. Even if it doesn't parse an attempt
          will be made to format it
        required: true
      responses:
        "200":
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
          description: Success
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Bad Request
      security:
      - oauth2: []
      summary: "PutQueryToFormat: Executes Sql, returned in JSON format, where the\
        \ sql is the post-body url."
      tags:
      - Sql Execution
      x-fbn-apistatus: Stable
      x-content-type: text/plain
      x-accepts: application/json
  /api/Sql/sqlite:
    put:
      description: |2

        For more complex LuminesceSql a PUT will allow for longer Sql.
        e.g.:
        ```sql
        @@cutoff = select #2020-02-01#;
        @issues = select Id, SortId, Summary, Created, Updated from Dev.Jira.Issue where Project='HC' and Created < @@cutoff and Updated > @@cutoff;

        select i.Id, i.SortId, i.Summary, LinkText, LinkedIssueId, LinkedIssueSortId, LinkedIssueSummary
        from @issues i
        inner join Dev.Jira.Issue.Link li
         on i.Id = li.IssueId
        ```

        The following error codes are to be anticipated with standard Problem Detail reports:
        - 400 BadRequest - something failed with the execution or parsing of your query
        - 401 Unauthorized
      operationId: PutByQuerySqlite
      parameters:
      - description: Name to apply to the query in logs and `Sys.Logs.HcQueryStart`
        example: Get tables/fields
        explode: true
        in: query
        name: queryName
        required: false
        schema:
          type: string
        style: form
      - description: "In seconds: <0 → ∞, 0 → 120s"
        example: 120
        explode: true
        in: query
        name: timeoutSeconds
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
        x-nullable: true
      requestBody:
        content:
          text/plain:
            example: select generate justfile test_sdk from sys.field
            schema:
              type: string
        description: LuminesceSql to Execute (may be multi-line)
        required: true
      responses:
        "200":
          content:
            text/plain:
              schema:
                format: binary
                type: string
            application/json:
              schema:
                format: binary
                type: string
            text/json:
              schema:
                format: binary
                type: string
          description: Success
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Bad Request
      security:
      - oauth2: []
      summary: "PutByQuerySqlite: Executes Sql, returned in SqLite DB (sqlite3) format\
        \ (as a file to be downloaded), where the sql is the post-body url."
      tags:
      - Sql Execution
      x-fbn-apistatus: Stable
      x-content-type: text/plain
      x-accepts: application/json
  /api/Sql/sqlite/{query}:
    get:
      description: |2

        For simple single-line query execution via the url.
        e.g. `select ^ from Sys.Field order by 1, 2`

        The following error codes are to be anticipated with standard Problem Detail reports:
        - 400 BadRequest - something failed with the execution or parsing of your query
        - 401 Unauthorized
      operationId: GetByQuerySqlite
      parameters:
      - description: LuminesceSql to Execute (must be one line only)
        example: "select ^ from Sys.Field order by 1, 2"
        explode: false
        in: path
        name: query
        required: true
        schema:
          type: string
        style: simple
      - description: Name to apply to the query in logs and `Sys.Logs.HcQueryStart`
        example: Get tables/fields
        explode: true
        in: query
        name: queryName
        required: false
        schema:
          type: string
        style: form
      - description: "In seconds: <0 → ∞, 0 → 120s"
        example: 120
        explode: true
        in: query
        name: timeout
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
        x-nullable: true
      responses:
        "200":
          content:
            text/plain:
              schema:
                format: binary
                type: string
            application/json:
              schema:
                format: binary
                type: string
            text/json:
              schema:
                format: binary
                type: string
          description: Success
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Bad Request
      security:
      - oauth2: []
      summary: "GetByQuerySqlite: Executes Sql, returned in SqLite DB (sqlite3) format\
        \ (as a file to be downloaded) format, where the sql is simply in the url."
      tags:
      - Sql Execution
      x-fbn-apistatus: Stable
      x-accepts: application/json
  /api/Sql/todesign:
    put:
      description: SQL to attempt to create a Design object from
      operationId: PutSqlToQueryDesign
      parameters:
      - description: "Should the table be validated against the users' view of Sys.Field\
          \ to fill in DataTypes, etc.?"
        explode: true
        in: query
        name: validateWithMetadata
        required: false
        schema:
          default: true
          type: boolean
        style: form
        x-nullable: true
      requestBody:
        content:
          text/plain:
            example: |-
              SELECT
               [TableName],
               Count(distinct [FieldName]) as [NumberOfFields]
              FROM
               [Sys.Field]
              WHERE
               ([TableName] = 'Sys.Registration')
              GROUP BY
               [TableName]
              ORDER BY
               [DataType]
              LIMIT 42
            schema:
              type: string
        description: SQL query to generate the design object from
        required: true
      responses:
        "200":
          content:
            text/plain:
              example: "{\"tableName\":\"Sys.Field\",\"fields\":[{\"name\":\"TableName\"\
                ,\"dataType\":\"Text\",\"shouldSelect\":true,\"filters\":[{\"operator\"\
                :\"Eq\",\"value\":\"Sys.Registration\"}],\"aggregations\":[]},{\"\
                name\":\"FieldName\",\"dataType\":\"Text\",\"shouldSelect\":true,\"\
                filters\":[],\"aggregations\":[{\"type\":\"count_distinct\",\"alias\"\
                :\"NumberOfFields\"}]}],\"orderBy\":[{\"field\":\"DataType\",\"direction\"\
                :\"asc\"}],\"limit\":42,\"warnings\":[],\"availableFields\":[]}"
              schema:
                type: string
            application/json:
              example: "{\"tableName\":\"Sys.Field\",\"fields\":[{\"name\":\"TableName\"\
                ,\"dataType\":\"Text\",\"shouldSelect\":true,\"filters\":[{\"operator\"\
                :\"Eq\",\"value\":\"Sys.Registration\"}],\"aggregations\":[]},{\"\
                name\":\"FieldName\",\"dataType\":\"Text\",\"shouldSelect\":true,\"\
                filters\":[],\"aggregations\":[{\"type\":\"count_distinct\",\"alias\"\
                :\"NumberOfFields\"}]}],\"orderBy\":[{\"field\":\"DataType\",\"direction\"\
                :\"asc\"}],\"limit\":42,\"warnings\":[],\"availableFields\":[]}"
              schema:
                type: string
            text/json:
              example: "{\"tableName\":\"Sys.Field\",\"fields\":[{\"name\":\"TableName\"\
                ,\"dataType\":\"Text\",\"shouldSelect\":true,\"filters\":[{\"operator\"\
                :\"Eq\",\"value\":\"Sys.Registration\"}],\"aggregations\":[]},{\"\
                name\":\"FieldName\",\"dataType\":\"Text\",\"shouldSelect\":true,\"\
                filters\":[],\"aggregations\":[{\"type\":\"count_distinct\",\"alias\"\
                :\"NumberOfFields\"}]}],\"orderBy\":[{\"field\":\"DataType\",\"direction\"\
                :\"asc\"}],\"limit\":42,\"warnings\":[],\"availableFields\":[]}"
              schema:
                type: string
          description: Success
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Bad Request
      security:
      - oauth2: []
      summary: "[EXPERIMENTAL] PutSqlToQueryDesign: Generates a SQL-design object\
        \ from SQL string, if possible."
      tags:
      - Sql Execution
      x-fbn-apistatus: Experimental
      x-content-type: text/plain
      x-accepts: application/json
  /api/Sql/tofilereaddesign:
    put:
      description: SQL to attempt to create a Design object from
      operationId: PutSqlToFileReadDesign
      parameters:
      - description: Should the available sources be determined from `Sys.Registration`
        explode: true
        in: query
        name: determineAvailableSources
        required: false
        schema:
          default: true
          type: boolean
        style: form
        x-nullable: true
      requestBody:
        content:
          text/plain:
            example: "@x = \nuse Drive.Csv\n --file=/some/folder/somefile.csv\nenduse;\n\
              \nselect generate justfile test_sdk from @x;"
            schema:
              type: string
        description: SQL query to generate the file read design object from
      responses:
        "200":
          content:
            text/plain:
              example: "{\"limit\":0,\"source\":{\"location\":\"Drive\",\"type\":\"\
                Csv\"},\"filePath\":\"/some/folder\",\"folderFilter\":\".*\\\\.csv\"\
                ,\"addFileName\":true}"
              schema:
                type: string
            application/json:
              example: "{\"limit\":0,\"source\":{\"location\":\"Drive\",\"type\":\"\
                Csv\"},\"filePath\":\"/some/folder\",\"folderFilter\":\".*\\\\.csv\"\
                ,\"addFileName\":true}"
              schema:
                type: string
            text/json:
              example: "{\"limit\":0,\"source\":{\"location\":\"Drive\",\"type\":\"\
                Csv\"},\"filePath\":\"/some/folder\",\"folderFilter\":\".*\\\\.csv\"\
                ,\"addFileName\":true}"
              schema:
                type: string
          description: Success
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Bad Request
      security:
      - oauth2: []
      summary: "[EXPERIMENTAL] PutSqlToFileReadDesign: Generates a SQL-file-read-design\
        \ object from SQL string, if possible."
      tags:
      - Sql Execution
      x-fbn-apistatus: Experimental
      x-content-type: text/plain
      x-accepts: application/json
  /api/Sql/toviewdesign:
    put:
      description: SQL which creates a view into a structured ConvertToViewData object
      operationId: PutSqlToViewDesign
      requestBody:
        content:
          text/plain:
            example: "@x = \nuse Sys.Admin.SetupView\n --provider=YourView\n----\n\
              select generate justfile test_sdk from Lusid.Instrument\nenduse;\n\n\
              select generate justfile test_sdk from @x;"
            schema:
              type: string
        description: SQL Query to generate the ConvertToViewData object from
        required: true
      responses:
        "200":
          content:
            text/plain:
              example: "{\"query\":\"select generate justfile test_sdk from Lusid.Instrument.bond\"\
                ,\"name\":\"Views.MyView\",\"description\":\"This is a tooltip for\
                \ the view as a whole\",\"documentationLink\":\"https://mydocumentationlink.com\"\
                ,\"viewParameters\":[{\"name\":\"MyTextParam\",\"dataType\":\"Text\"\
                ,\"value\":\"Portfolio\",\"isTableDataMandatory\":false,\"description\"\
                :\"This is a parameter tooltip\"},{\"name\":\"EffectiveAt\",\"dataType\"\
                :\"Date\",\"value\":\"2023-05-03\",\"isTableDataMandatory\":false,\"\
                description\":\"This is a parameter tooltip\"},{\"name\":\"IsActive\"\
                ,\"dataType\":\"Boolean\",\"value\":\"true\",\"isTableDataMandatory\"\
                :true,\"description\":\"This is a parameter tooltip\"},{\"name\":\"\
                EndUserTable\",\"dataType\":\"Table\",\"value\":\"@end_user_table\"\
                ,\"isTableDataMandatory\":true,\"description\":\"This is a parameter\
                \ tooltip\"}],\"otherParameters\":{}}"
              schema:
                type: string
            application/json:
              example: "{\"query\":\"select generate justfile test_sdk from Lusid.Instrument.bond\"\
                ,\"name\":\"Views.MyView\",\"description\":\"This is a tooltip for\
                \ the view as a whole\",\"documentationLink\":\"https://mydocumentationlink.com\"\
                ,\"viewParameters\":[{\"name\":\"MyTextParam\",\"dataType\":\"Text\"\
                ,\"value\":\"Portfolio\",\"isTableDataMandatory\":false,\"description\"\
                :\"This is a parameter tooltip\"},{\"name\":\"EffectiveAt\",\"dataType\"\
                :\"Date\",\"value\":\"2023-05-03\",\"isTableDataMandatory\":false,\"\
                description\":\"This is a parameter tooltip\"},{\"name\":\"IsActive\"\
                ,\"dataType\":\"Boolean\",\"value\":\"true\",\"isTableDataMandatory\"\
                :true,\"description\":\"This is a parameter tooltip\"},{\"name\":\"\
                EndUserTable\",\"dataType\":\"Table\",\"value\":\"@end_user_table\"\
                ,\"isTableDataMandatory\":true,\"description\":\"This is a parameter\
                \ tooltip\"}],\"otherParameters\":{}}"
              schema:
                type: string
            text/json:
              example: "{\"query\":\"select generate justfile test_sdk from Lusid.Instrument.bond\"\
                ,\"name\":\"Views.MyView\",\"description\":\"This is a tooltip for\
                \ the view as a whole\",\"documentationLink\":\"https://mydocumentationlink.com\"\
                ,\"viewParameters\":[{\"name\":\"MyTextParam\",\"dataType\":\"Text\"\
                ,\"value\":\"Portfolio\",\"isTableDataMandatory\":false,\"description\"\
                :\"This is a parameter tooltip\"},{\"name\":\"EffectiveAt\",\"dataType\"\
                :\"Date\",\"value\":\"2023-05-03\",\"isTableDataMandatory\":false,\"\
                description\":\"This is a parameter tooltip\"},{\"name\":\"IsActive\"\
                ,\"dataType\":\"Boolean\",\"value\":\"true\",\"isTableDataMandatory\"\
                :true,\"description\":\"This is a parameter tooltip\"},{\"name\":\"\
                EndUserTable\",\"dataType\":\"Table\",\"value\":\"@end_user_table\"\
                ,\"isTableDataMandatory\":true,\"description\":\"This is a parameter\
                \ tooltip\"}],\"otherParameters\":{}}"
              schema:
                type: string
          description: Success
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Bad Request
      security:
      - oauth2: []
      summary: "[EXPERIMENTAL] PutSqlToViewDesign: Generates a structured view creation\
        \ design from existing view creation SQL."
      tags:
      - Sql Execution
      x-fbn-apistatus: Experimental
      x-content-type: text/plain
      x-accepts: application/json
  /api/Sql/xml:
    put:
      description: |2

        For more complex LuminesceSql a PUT will allow for longer Sql.
        e.g.:
        ```sql
        @@cutoff = select #2020-02-01#;
        @issues = select Id, SortId, Summary, Created, Updated from Dev.Jira.Issue where Project='HC' and Created < @@cutoff and Updated > @@cutoff;

        select i.Id, i.SortId, i.Summary, LinkText, LinkedIssueId, LinkedIssueSortId, LinkedIssueSummary
[...]
