<settings>

  <activeProfiles>
    <activeProfile>sign-artifacts</activeProfile>
  </activeProfiles>
  
  <servers>
    <server>
      <id>ossrh</id>
      <username>${env.MAVEN_USERNAME}</username>
      <password>${env.MAVEN_TOKEN}</password>
    </server>
  </servers>

  <profiles>
    <profile>
        <id>sign-artifacts</id>
        <activation>
            <activeByDefault>true</activeByDefault>
        </activation>
        <properties>                
            <gpg.passphrase>${env.GPG_KEY_PASSPHRASE}</gpg.passphrase>
        </properties>
      </profile>
  </profiles>
</settings>
