<settings>
  <servers>
    <server>
      <id>ossrh</id>
      <username>finbourne</username>
      <password>${env.MAVEN_TOKEN}</password>
    </server>
  </servers>

  <profiles>
    <profile>
        <id>ossrh</id>
        <activation>
            <activeByDefault>true</activeByDefault>
        </activation>
        <properties>                
            <gpg.passphrase>${env.GPG_KEY_PASSPHRASE}</gpg.passphrase>
        </properties>
      </profile>
  </profiles>
</settings>
